<!-- <ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button color="primary" (click)="closeModal()">
                <ion-icon name="close" color="light"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Add New Donation
        </ion-title>
    </ion-toolbar>
</ion-header> -->


<ion-content  class="ion-padding" *ngIf="donation">
    <ion-row>
        <ion-col size="3">
<!--            <a routerLink="/sharing/health" class="text-primary">-->
<!--                <ion-icon size-lg name="arrow-back" class="mr-2" tappable></ion-icon>-->
<!--                Back-->
<!--            </a>-->
        </ion-col>
    </ion-row>
    <ion-row class=" mb-30">
        <!--        <iframe [src]="donation?.videoUrl" height="100%" width="100%"-->
        <!--                frameborder="0">-->
        <!--        </iframe>-->

        <ion-button class="width-100" size="medium" tappable (pointerup)="play()" expand="full" color="primary">Watch Video</ion-button>

    </ion-row>
    <ion-row>
        <ion-col size="12">
            <ion-img [src]="donation.profileUrl ? donation.profileUrl: 'assets/images/user.png'"></ion-img>
        </ion-col>
    </ion-row>
    <ion-row class="gray-bg">
        <ion-col size="6">
            <ion-label class="thumb-label"><span class="bold-text">Raised(₹)</span> - {{donation.raisedAmount}}</ion-label>
        </ion-col>
        <ion-col size="6" class="text-right">
            <ion-label class="thumb-label"><span class="bold-text">Target(₹)</span>  - {{donation.targetAmount}}</ion-label>
        </ion-col>
    </ion-row>

    <ion-item class="mt-6">
        <ion-label class="fw400 text-center" color="primary" >Donation Type - <span class="text-captialize">{{donation?.type}}</span></ion-label>
    </ion-item>
    <ion-item class="mt-6">
        <ion-label class="thumb-label">
            <ion-row>
                <ion-col style="float: left"><strong>Name - </strong>{{donation?.name}}</ion-col>
                <ion-col style="float: right"><strong>Age - </strong>{{donation?.age}}</ion-col>
            </ion-row>
        </ion-label>
    </ion-item>
    <ion-item class="mt-6">
        <ion-label class="thumb-label">
            <ion-text class="word-wrap">{{donation?.description}}</ion-text>
        </ion-label>
    </ion-item>
    <ion-item class="mt-6">
        <ion-label class="thumb-label">
            <ion-text *ngIf="donation.documentUrl">Document Link: <a [href]="donation.documentUrl"
                                                              target="_blank">{{donation.documentUrl}}</a></ion-text>
            <ion-text *ngIf="!donation.documentUrl">Document Link: Not available</ion-text>
        </ion-label>
    </ion-item>
    <ion-item margin-bottom class="mt-20">
        <ion-label color="primary" class="fw500 label1" position="stacked">Enter Donation Amount
        </ion-label>
        <ion-input type="number" placeholder="0" clearInput clearOnEdit="true" class="text1"
                   [(ngModel)]="amount"></ion-input>
    </ion-item>
    <!-- <ion-text class="mlr-15 mt-20">Better health is enjoyed by those who donate their time, expertise or money to others
        who
        are in need. Charitable people tend to be able to cope with their own problems more easily than those who
        don't
        donate. Giving to others improves your self-esteem, self confidence and self worth.</ion-text> -->
    <ion-button type="submit" expand="full" class="mlr-15 mt-30" color="primary" (pointerup)="donate()">Donate</ion-button>

</ion-content>



