<ion-toolbar color="primary">
<!--    <ion-buttons slot="start">-->
<!--        <ion-back-button></ion-back-button>-->
<!--    </ion-buttons>-->
    <ion-title>Terms & Conditions</ion-title>
</ion-toolbar>
<ion-content  padding scroll-y="true">


    <iframe *ngIf="url" [src]="url" style="width: 100%;height: 100%; border: none;" (load)="called($event)">
    </iframe>
</ion-content>
