<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <!--        <ion-buttons slot="start">-->
        <!--            <ion-back-button></ion-back-button>-->
        <!--        </ion-buttons>-->
        <ion-title *ngIf="user">{{user.name}}'s Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="profile" *ngIf="user">
    <ion-card no-margin>
        <ion-card-content>
            <div class="bg-profile bg-image-profile" *ngIf="user.profileUrl"
                 [ngStyle]="{'background-image': 'url('+ user.profileUrl+')'}"></div>
            <ion-row class="icon-absolute">
                <ion-col class="p-0" text-center="">
                    <button class="p-0 icon-button">
                        <ion-icon class="heart-filled" name="ios-star" role="img"></ion-icon>
                        {{rating.toFixed ? rating.toFixed(1) : ''}}
                    </button>
                </ion-col>
            </ion-row>
            <!-- <img  [src]="user.profileUrl"> -->
            <div class="clearfix"></div>
        </ion-card-content>

        <ion-grid fixed no-padding>
            <ion-row>
                <ion-col size="12" padding>

                    <ion-list margin-bottom>
                        <ion-item>
                            <ion-text color="dark" position="stacked"><span
                                    class="text-primary"> Name :</span> {{user.name}}
                            </ion-text>


                        </ion-item>

                        <!--                        <ion-item>-->
                        <!--                            <ion-text color="dark" position="stacked"><span-->
                        <!--                                    class="text-primary">Email :</span> {{user.email}}-->
                        <!--                            </ion-text>-->

                        <!--                        </ion-item>-->
                        <!--                        <ion-item>-->
                        <!--                            <ion-text color="dark" position="stacked"><span-->
                        <!--                                    class="text-primary">Phone :</span> {{user.phone}}-->
                        <!--                            </ion-text>-->

                        <!--                        </ion-item>-->
                        <ion-item>
                            <ion-text color="dark" position="stacked"><span class="text-primary">Address :</span>
                                {{user.address ? user.address : 'Not Available'}}</ion-text>

                        </ion-item>
                        <ion-item>

                            <ion-text color="dark" position="stacked"><span class="text-primary">Zipcode :</span>
                                {{user.zipCode ? user.zipCode : 'Not Available'}}</ion-text>


                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-row>
            <!--            <ion-col size="6">-->
            <!--                <ion-button type="submit" tappable color="danger" class="mlr-15 mb-30" no-margin-->
            <!--                            (pointerup)="routeBack(user)">-->
            <!--                    <ion-icon name="arrow-round-back" class="mr-2"></ion-icon>-->
            <!--                    Back-->
            <!--                </ion-button>-->

            <!--            </ion-col>-->
            <ion-col size="6" class="align-items-center">
                <ion-button type="submit" tappable color="primary" class="fx-display mb-30" no-margin
                            (pointerup)="navigateToChat()">
                    <ion-icon name="chatbubbles" class="mr-2"></ion-icon>
                    {{ status === -1 ? 'Send Chat Request': (status === 1 ? 'Send Message' : (status === 0 && message.length === 0 ?'Request Already Sent': 'Approve Now'))}}
                </ion-button>
            </ion-col>
        </ion-row>
        <!-- <ion-row class="mt-4">
                <ion-col size="12">
            <h4 class="text-primary mb-3" color="primary">Posted Items</h4>
        </ion-col>
        </ion-row> -->
        <ion-row>
            <ion-col size="12">
                <h4 class="text-primary mb-3" color="primary">Posted Items</h4>
                <!-- <ion-slides [options]="slideOpts"> -->
                <ion-slides>
                    <ion-slide *ngFor="let prod of postedProduct" tappable (pointerup)="navigateToDetail(prod._id)">
                        <ion-card class="short-card">
                            <ion-img
                                    [src]="prod.mediaUrl ? prod.mediaUrl : 'assets/images/no-picture-available-icon-1.jpg'"></ion-img>
                            <p class="mb-0 padding-2">{{prod.title}}</p>
                        </ion-card>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
    </ion-card>
</ion-content>
