:host {
  ion-content {
    --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light));
  }
  // ion-header {
  //   margin-top: 75px!important;
  // }
  .short-card {
    width: 100%;
    // height: 90px;
    height: auto;
    padding-bottom: 0px;
    // margin: 0px;
    margin-bottom: 20px;
    background-color: #fff;
  }
  
  .swiper-slide img {
    width: 100% !important;
    max-width: 100%;
    height: 110px !important;
    max-height: 100%;
  }
  
  .swiper-zoom-container, ion-slide {
    width: 115px !important;
  } 

}

.profile {
  ion-card {
    width: 100%;
    border-radius: 0;
    ion-card-content {
      padding: 0px;
      background-color: var(--ion-color-primary);
      color: #fff;
      text-align: center;

      img {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        border: solid 4px #fff;
        display: inline;
        box-shadow: 0 0 18px rgba(255,255,255, .65);
      }
      .bg-profile.bg-image-profile {
        background-size: cover;
        background-position: inherit;
        background-position: center;
        background-repeat: no-repeat;
        height: 250px;
        padding: 0px
      }
      h1 {
        margin-top: .5rem;
      }

    }
  }

  ion-item {
    ion-input {
      border-bottom: 1px solid var(--ion-color-tertiary);
    }
  }

  ion-buttom {
    button {
      margin: 0;
    }
  }
}
