<ion-content  padding>
  <ng-container *ngFor="let product of productList">
    <ion-card no-padding tappable >
      <h5 class="pb-0 prl-15 pt-10">{{product.title}} : {{tabSelected}}</h5>
      <img [src]="product.mediaUrl[0]"/>
      <ion-row class="icon-absolute">
      </ion-row>

      <ion-row class="home-card">
        <ion-col class="p-0">
          <button class="p-0" ion-button icon-left clear small>
            <ion-icon name="pricetag"></ion-icon>
            {{product.price ? '₹' + product.price : 'Free'}}
          </button>
        </ion-col>
        <ion-col class="p-0" center text-center>
          <button class="p-0" ion-button icon-left clear small>
            <ion-icon name="time"></ion-icon>
            {{product.addedOn}}
          </button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-button expand="full" tappable (pointerup)="rate()" class="bg-red" color="red">Rate User</ion-button>
      </ion-row>
    </ion-card>
  </ng-container>
</ion-content>
