<ion-header >
    <ion-toolbar color="primary">
<!--        <ion-buttons slot="start">-->
<!--            <ion-back-button></ion-back-button>-->
<!--        </ion-buttons>-->
        <ion-title>Coming Soon</ion-title>
    </ion-toolbar>
</ion-header>
