:host {
    ion-content {
        --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light));
        // margin-top: 130px!important;
    }
    ion-header {
        margin-top: 75px!important;
    }
}
