<ion-content  padding class="background">
    <ion-row>
        <ion-col size="12">
            <div class="login-container text-center" color="white">
                <h2 class="brand-heading">
                    Welcome To
                    <span class="brand"> eeho</span>
                    <div class="clearfix"></div>
                    <small>“India’s First Free Sharing Platform</small>
                </h2>
            </div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12">
            <div class="action-div text-center">
<!--                <ion-button expand="block" color="tertiary" (pointerup)="loginFB()">Join with Facebook</ion-button>-->
<!--                <ion-button expand="block" color="danger" (pointerup)="loginGmail()">Join with Gmail</ion-button>-->
                <ion-button expand="block" color="danger" (pointerup)="loginGmail()">Signup with Phone</ion-button>
<!--                <ion-button expand="block" color="secondary" (pointerup)="routeToRegister()">Join with Email</ion-button>-->
                <p class="mt-5 display-flex"><span class="mr-3 white" > Already have an account?</span>
                    <ion-button color="light" fill="outline" (pointerup)="routeToLogin()">Login</ion-button>
                </p>
            </div>
        </ion-col>
    </ion-row>
</ion-content>
