app-landing{
    ion-content.background{
        --background: url(/assets/images/food.png) 100% 100%;
    background-size: cover;
    background-repeat: repeat-y;
    height: 100vh;
        // --background: url('/assets/images/Wheat.mp4');
   }
    ion-content {
        .login-container {
        background-color: #000000d9;
        padding: 30px 20px;
        margin-top: 18vh;
        -webkit-box-shadow: 2px 13px 30px 19px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: -1px 15px 62px 6px rgb(226, 164, 164);
        /* box-shadow: 3px 15px 74px 6px rgb(2, 2, 2); */
    }
    .text-center {
        text-align: center !important;
    }
    h2.brand-heading {
        font-size: 2rem;
        color: #fff!important;
        // margin-top: 25vh;

    }
    h2.brand-heading small {
        font-size: 1.3rem!important;
        color: #f9f9f9;
    }  
    .action-div {
        width: 100%;
        margin-top: 15vh;
        color: #fff;
    }
     .brand {
       color: #f04141!important;
       font-weight: bold
    } 


}
       @media screen and (min-width: 575px){

        ion-content.background{
            background-color: var(--ion-color-primary)!important;
            --background: var(--ion-color-primary)!important;
       }
    }  
    
    }
