<ion-toolbar color="primary">
    <ion-title>My Listing</ion-title>
</ion-toolbar>
<ion-content  padding scroll-y="true">
        <ion-row class="no-post mt-110" *ngIf="!productList.length">
                <ion-col class="p-0" center text-center>
                    <h5>You have not listed any product</h5>
                    <a>
                        <ion-button [routerLink]="['/sharing/createListing']" type="button" tappable size="medium" expand="full" color="primary"
                                    class="mlr-15 mb-30 mt-30" no-margin>
                                    List now
                        </ion-button>
                    </a>
                </ion-col>
            </ion-row>

    <ng-container *ngFor="let product of productList">
        <ion-card no-padding tappable>
            <h5 class="pb-0 prl-15 pt-10">{{product.title}}</h5>
            <ion-img *ngIf="product.mediaUrl" [src]="product.mediaUrl" style="object-fit: contain;width: 100%; height: 200px;
"></ion-img>
            <ion-row class="icon-absolute">
            </ion-row>
            <ion-row class="home-card">
                <ion-col class="p-0">
                    <button class="p-0" ion-button icon-left clear small>
                        <ion-icon name="pricetag"></ion-icon>
                        {{product.price ? '₹' + product.price : 'Free'}}
                    </button>
                </ion-col>
                <ion-col class="p-0" center text-center>
                    <button class="p-0" ion-button icon-left clear small>
                        <ion-icon name="time"></ion-icon>
                        {{product.addedOn}}
                    </button>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="product.status === 'in-progress'">
                <ion-col>
                    <ion-button expand="full" tappable (pointerup)="markAsDone(product._id)" color="primary">
                        Given Away
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="product.status === 'in-progress' || 'suspended'">
                <ion-col>
                    <ion-button expand="full" tappable (pointerup)="withdraw(product._id, product.status)" color="danger">
                        Cancel Listing
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="product.status === 'done'">
                <ion-col>
                    <ion-button expand="full" color="primary">
                        Completed
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="product.status === 'cancelled'">
                <ion-col>
                    <ion-button expand="full" color="danger">
                        Cancelled
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-card>
    </ng-container>
</ion-content>
