<ion-toolbar color="primary">
        <ion-title><ion-icon name="arrow-round-back" class="close-icon mr-3" color="light"></ion-icon>Forgot Password?</ion-title>

    </ion-toolbar>
<ion-content  padding class="align-centr">
        <ion-col size="12" class="pt-4">  <p class="mb-0 mt-4 text-primary"> Please Enter your registerd Contact No. </p>
        </ion-col>
    <ion-list class="mt-3">

        <form *ngIf="!isOtpSent">

            <ion-row>
                <ion-col size="8">
                    <ion-item no-padding class="mb-4">
                        <ion-label color="primary" position="floating"><sup class="danger asterisk">*</sup>Phone(+91)
                        </ion-label>
                        <ion-input [(ngModel)]="phone" type="tel" clearInput="true" clearOnEdit="true" minlength="10"
                                   maxlength="10" name="phone" color="text-light-gray"
                                   placeholder="" required="true"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size="4">
                    <ion-button color="primary" (pointerup)="sendOtp()">Send OTP</ion-button>

                </ion-col>
                <!--        <ion-img src="assets/icon/icons8-india-48.png" class="icon" slot="start"></ion-img>-->
            </ion-row>
        </form>
        <form action="" *ngIf="isOtpSent">
            <ion-item no-padding class="mb-4">
                <ion-label color="primary" position="floating"><sup class="danger asterisk">*</sup>OTP</ion-label>
                <ion-input [(ngModel)]="otp" type="tel" clearInput="true" clearOnEdit="true" minlength="6"
                           maxlength="6" name="phone" color="text-light-gray"
                           placeholder="" required="true"></ion-input>
                <!--        <ion-img src="assets/icon/icons8-india-48.png" class="icon" slot="start"></ion-img>-->
            </ion-item>
            <ion-item no-padding class="mb-4">
                <ion-label color="primary" position="floating"><sup class="danger asterisk">*</sup>Password</ion-label>
                <ion-input [(ngModel)]="password" type="text" clearInput="true" clearOnEdit="true" name="password" color="text-light-gray"
                           placeholder="" required="true"></ion-input>
                <!--        <ion-img src="assets/icon/icons8-india-48.png" class="icon" slot="start"></ion-img>-->
            </ion-item>
            <p *ngIf="isOtpSent" (pointerup)="sendOtp()">Resend Otp</p>
        </form>
        <ion-button *ngIf="isOtpSent" expand="full" color="primary" (pointerup)="resetPassword()">Update</ion-button>
    </ion-list>
</ion-content>
