<ion-toolbar color="primary">
    <ion-title>Users Near Me</ion-title>
</ion-toolbar>
<ion-content  class="mt-10" padding>
        <ion-row class="header-row">

        <ion-col size="9">
            <ion-item>
                <ion-label class="filter">Filter </ion-label>
                <ion-select value="Donation" [(ngModel)]="filterValue" (ionChange)="getDistance($event)">
                    <ion-select-option value="5000">5Km</ion-select-option>
                    <ion-select-option value="50000">50Km</ion-select-option>
                    <ion-select-option value="100000">100Km</ion-select-option>
                    <ion-select-option value="500000">500Km</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-col >
        <ion-col size="3"><ion-button (pointerup)="reset()">Reset</ion-button></ion-col>
    </ion-row>
    <ion-row *ngFor="let user  of userList" class="justify-content-center mt-10 align-items-center" tappable (pointerup)="navigate(user)">
        <ion-col size="3">
            <ion-avatar>
                <img class="post-avatar" [src]="user.profileUrl ? user.profileUrl : 'assets/images/user.png'">
            </ion-avatar>
        </ion-col>

        <ion-col size="9">
            <h5 class="mb-0 text-primary mt-0">{{user.name}}</h5>
            <ion-icon name="pin" class="text-danger"></ion-icon>
            {{(user.distance / 1000).toFixed(0)}} Km
        </ion-col>
    </ion-row>
</ion-content>
