<ion-content  padding class="align-centr">
    <ion-text>
        <h2>Get Verified!</h2>
        <p>All EEHO needs to be verified.It doesn't take long <br>- We just need to send a code to your mobile
            <ion-icon class="thumb" name="thumbs-up"></ion-icon>
        </p>
    </ion-text>
    <ion-list>
        <form action="">
            <ion-item no-padding class="mb-4">
                <ion-label color="primary" position="floating"><sup class="danger asterisk">*</sup>OTP</ion-label>
                <ion-input [(ngModel)]="otp" type="tel" clearInput="true" clearOnEdit="true" minlength="6"
                           maxlength="6" name="phone" color="text-light-gray"
                           placeholder="" required="true"></ion-input>
                <!--        <ion-img src="assets/icon/icons8-india-48.png" class="icon" slot="start"></ion-img>-->
            </ion-item>
            <p *ngIf="isOtpSent" (pointerup)="sendOtp()">Resend Otp</p>
        </form>
        <ion-button expand="full" color="primary" (pointerup)="verifyOtp()">VERIFY</ion-button>
    </ion-list>
</ion-content>
