<ion-content >
    <ion-card class="post-card" *ngIf="blog.title && blog.description">
        <ion-row>
            <ion-col size="3">
                <ion-avatar>
                    <ion-img class="post-avatar"
                             [src]="blog.profileUrl ? blog.profileUrl :'assets/images/user.png'"></ion-img>
                </ion-avatar>
            </ion-col>
            <ion-col size="9">
                <h5 class="text-primary mt-0 line-height">{{blog.title}}</h5>
                <p class="text-gray text08">
                    <ion-icon name="time" class="pr-2"></ion-icon>
                    {{moment(blog.addedOn).fromNow()}}
                </p>
            </ion-col>
        </ion-row>
        <ion-row padding class="pt-0">
            <ion-text class="mb-0" [innerHTML]="blog.description"></ion-text>
        </ion-row>
        <ion-row padding style="background-color: #fff!important; padding: 5px 15px!important"
                 class=" grey-row">
            <button class="p-0 icon-button mr-5" ion-button icon-left clear small>
                <ion-icon name="ios-heart" class="heart-filled pr-2"></ion-icon>
                {{blog.like.length}} Likes
            </button>
            <button class="p-0 icon-button mr-5" ion-button icon-left clear small (click)="showComment()">
                <ion-icon name="chatbubbles" class="pr-2"></ion-icon>
                {{blog.comment.length}} Comments
            </button>
            <button class="p-0 " icon-left clear (click)="likeBlog()">
                <ion-icon style="font-size: 22px" name="thumbs-up"
                          [ngStyle]="{'color':blog.like.includes(user?._id) ? '#c7002c' : '' }"></ion-icon>

            </button>
        </ion-row>
        <ion-row class="home-card grey-row">
            <div class="inputConatiner">
                <ion-textarea class="ion-textarea ion-textarea placeholdertext inputMessage inputBg" type="text" placeholder="Type your comment"
                           [(ngModel)]="inpText" autofocus="true" padding-start></ion-textarea>
            </div>
            <div class="send-button-parent">
                <ion-button (click)="comment()" class="sendBtn" color="primary" type="submit">
                    <ion-icon class="sendBtn-icon" name="send" color="light"></ion-icon>
                </ion-button>
            </div>
        </ion-row>
        <ion-row *ngIf="doShowComment">
            <div class="full-width" *ngFor="let comment of blog.comment">
                <ion-row>
                    <ion-col size="2"><img class="img-40"
                                           [src]="comment.profileUrl ? comment.profileUrl: 'assets/images/user.png' ">
                    </ion-col>
                    <ion-col size="10">
                        <p class="mb-0 text-primary" style="font-weight: bold;">{{comment?.name}} </p>
                       <ion-text class="word-wrap"> : {{comment?.text}} </ion-text>
                    </ion-col>
                </ion-row>
            </div>

        </ion-row>
    </ion-card>
</ion-content>
