:host {
    .header-card {
        padding: 10px;
        margin: 12px 0px 20px 0px;
    }
    .post-card {
        padding-top: 10px!important;
        padding-bottom: 0px!important;
        margin-bottom : 10px!important;
    }
    .grey-row {
        background-color: #f5f5f5!important;
        padding: 5px!important;
    }
    .home-card.grey-row button{
        width: auto!important;
    }
    .avatar-2 {
        width: 55px!important;
        height: 55px!important;
    }
    .inputConatiner {
        width: 80%
    }
    .img-40 {
        width: 40px;
        height: 40px;
    }
    .full-width {
        width: 100%;
        display: block;
        }
   .full-width:nth-child(even) {
       background-color: #f5f5f5;
   }
   .full-width:nth-child(odd) {
    background-color: #fff;
}
button.icon-button, button.p-0 {
    background: transparent
}
ion-icon.pr-2{
    color: #c7002c;
}
}