
    // // ion-tab-button {
    // //     --color-selected : var(--ion-color-primary)!important;
    // //     --color : var(--ion-color-primary)!important;
    // // }
    // // ion-tab-bar {
    // //     // --color-selected : var(--ion-color-primary)!important;
    // //     --color : var(--ion-color-primary)!important;
    // // }
    // ion-tab-button {
    //     // --color : var(--ion-color-danger)!important;
    //     --color-selected : var(--ion-color-primary)!important;
    // //   --background-focused : var(--ion-color-primary)!important;
    // //   --background : var(--ion-color-primary)!important;
    // }
    // ion-tab-button.selected {
    //     --color : var(--ion-color-primary)!important;
    //     // --background-focused : var(--ion-color-primary)!important;
    // }
    
    // .add-circle {
    //     --color : var(--ion-color-primary)!important;
    // }
    // .add-circle ion-icon {
    //     font-size: 40px;
    // }
