<ion-content id="login-page" padding class="animated fadeIn login auth-page">
    <div class="theme-bg"></div>
    <div class="auth-content" style="margin-top: 80px">

        <!-- Logo -->
        <div padding-horizontal text-center class="animated fadeInDown">
            <div class="logo" style="display:none"></div>
            <h4 class="mt-5 mb-3">
                <ion-img src="assets/images/EEHO_PNG.png"></ion-img>
            </h4>
        </div>

        <!-- Login form -->
        <div class="list-form mt-50">

            <ion-list class="mb-lg-5">
                <ion-item no-padding>
                    <ion-label color="primary" position="floating"><sup class=" asterisk"></sup>Phone</ion-label>
                    <ion-input type="tel" class="text-light-gray" required name="email" maxlength="10" accept=""
                               [(ngModel)]="phone"></ion-input>
                </ion-item>
            </ion-list>
            <div style="position:relative; display: flex" *ngIf="isOtpSent">
                <div no-padding style="top: -10px;position: absolute; right: 0px;">
                    <ion-label>00:{{time}} |
                        <button class="bg-none " [disabled]="time !== 30" [ngClass]="time === 30 ? 'text-primary': 'text-disable'" (click)="resendOtp()">Resend OTP</button>
                    </ion-label>
                </div>
            </div>
            <ion-list *ngIf="isOtpSent" class="mt-10">
                <ion-item no-padding>
                    <ion-label color="primary" position="floating"><sup class=" asterisk">OTP</sup></ion-label>
                    <ion-input required type="tel" class="text-light-gray" name="password" [(ngModel)]="otp"
                               maxlength="6"></ion-input>
                </ion-item>
            </ion-list>
            <ion-button *ngIf="isOtpSent" class="mb-30 mt-10" icon-left size="medium" expand="full" color="primary"
                        [disabled]="otp?.length !== 6"
                        (pointerup)="routeToHome(2)" tappable>
                <ion-icon name="log-in"></ion-icon>
                Continue
            </ion-button>
            <ion-button *ngIf="!isOtpSent" class="mb-30 mt-30" icon-left size="medium" expand="full" color="primary"
                        [disabled]="phone.length !== 10"
                        (pointerup)="routeToHome(1)" tappable>
                <ion-icon name="log-in"></ion-icon>
                Send OTP
            </ion-button>
        </div>
    </div>
</ion-content>
