app-login {
  ion-content {
    .logo {
      color: white;
      font-size: 64px;
      font-weight: bold;
      text-align: center;
      padding-top: 50px;
    }

    .description {
      color: white;
      font-size: 22px;
      text-align: center;
    }

    .log-in-button {
      margin-top: 40px;
      font-weight: bold;
    }

  }
}

.bg-red {
  background-color: rgba(237, 30, 49, 0.75);
}

.text-light-gray {
  color: #666;
  font-weight: 500;
  font-size: 14px;
}

.mt-50 {
  margin-top: 50px;
}
