:host {
    .header-card {
        padding: 10px;
        // margin: 12px 0px 20px 0px;
    }
    .post-card {
        // padding-top: 10px!important;
        padding-bottom: 0px!important;
        margin-bottom : 10px!important;
        border-radius: 10px;
    }

    .grey-row {
        background-color: #333!important;
        padding: 5px!important;
    }
    .home-card.grey-row button{
        width: auto!important;
        color: #fff;
        font-size: 12.5px;
    }
    .bg-dark-gray {
        background-color: #333;
        color: #fff;
        padding: 6px 15px;
        p {
            color: #fff;  
            font-weight: 500;
        }
        h5 {
            font-size: 17px;
            margin-bottom: 0px;
        }
    }
    .bg-image {
        padding: 0px; 
        background: #f7f7f7;
        

    }
}