<ion-content >

<!--    <ion-card class="header-card mt-30">-->
<!--        <h5 class="mb-0">What's on your mind</h5>-->
<!--    </ion-card>-->
    <ion-card class="mt-30 post-card" *ngFor="let blog of blogList" tappable (pointerup)="navigate(blog._id)">
        <ion-row>
            <ion-col size="12" class="bg-image">
                <!-- <ion-avatar> -->
                <ion-img class="post-avatar" [src]="blog.mediaUrl? blog.mediaUrl :'assets/images/no-picture-available-icon-1.jpg'">
                </ion-img>
                <!-- </ion-avatar> -->
            </ion-col>
        </ion-row>
        <ion-row class="bg-dark-gray">
            <ion-col size="12">
                <h5 class="line-height">{{blog.title}}</h5>

            </ion-col>
        </ion-row>

        <ion-row padding class="home-card grey-row">
            <ion-col size="4">
                <button class="p-0 icon-button" ion-button icon-left clear small>
                    <ion-icon name="time" class="pr-1"></ion-icon>
                    {{moment(blog.addedOn).fromNow()}}

                </button>
            </ion-col>
            <ion-col size="4">
                <button class="p-0 icon-button" ion-button icon-left clear small>
                    <ion-icon name="chatbubbles" class="pr-1"></ion-icon>
                    {{blog.comment}} Comments
                </button>
            </ion-col>
            <ion-col size="4">
                <button class="p-0 icon-button" ion-button icon-left clear small>
                    <ion-icon name="ios-heart" class="heart-filled pr-1"></ion-icon>
                    {{blog.like.length}} Likes
                </button>
            </ion-col>
        </ion-row>
        <!-- <ion-row padding class="justify-content-end home-card grey-row">

        </ion-row> -->
    </ion-card>
</ion-content>
