app-post-detail.ion-page {
  margin-top: 110px !important;
}

.post-avatar {
  width: 50px;
  height: 50px;
}

.short-card {
  width: 100%;
  // height: 90px;
  height: auto;
  padding-bottom: 0px;
  // margin: 0px;
  margin-bottom: 20px;
}

.swiper-slide img {
  width: 100% !important;
  max-width: 100%;
  height: 110px !important;
  max-height: 100%;
}

.swiper-zoom-container, ion-slide {
  width: 115px !important;
}

