<ion-content  *ngIf="product" padding>
    <ion-row>
<!--        <ion-col size="3">-->
<!--            <a routerLink="/sharing/home" class="text-primary">-->
<!--                <ion-icon size-lg name="arrow-back" class="mr-2" tappable></ion-icon>-->
<!--                Back-->
<!--            </a>-->
<!--        </ion-col>-->
        <ion-col size="12">
            <h4 class="mb-0 text-primary mt-0 text-capitalize">{{product.title}}</h4>
        </ion-col>
    </ion-row>
    <ion-card>

        <ion-img *ngIf="product.mediaUrl" [src]="product.mediaUrl" class="post-image" style="object-fit: fill; height: 100%;
"></ion-img>
        <ion-row class="icon-absolute">
            <ion-col class="p-0" center text-center>
                <button class="p-0 icon-button" ion-button icon-left clear small>
                    <ion-icon name="ios-heart" class="heart-filled pr-2"></ion-icon>
                    {{product.like ? product.like.length : 0}} Likes
                </button>
                <button class="p-0 icon-button" ion-button icon-left clear small>
                    <ion-icon name="ios-star" class="heart-filled pr-2"></ion-icon>
                    {{product.rating ? product.rating.toFixed(1) : ''}}
                </button>
            </ion-col>
        </ion-row>
        <ion-row class=" d-flex align-items-center">
            <ion-col size="3" class="d-flex align-items-center">
                <ion-avatar>
                    <ion-img class="post-avatar" tappable (pointerup)="navigateToProfile(product)"
                             [src]="product.profileUrl ? product.profileUrl:'assets/images/user.png'"></ion-img>
                </ion-avatar>

            </ion-col>
            <ion-col size="7" center>
                <h6 class="mb-0" *ngIf="product.isDonated">
                    {{product.name}} is giving away free
                </h6>
                <h6 class="mb-0" *ngIf="!product.isDonated">
                    {{product.name}} has placed their want.
                </h6>

            </ion-col>

            <ion-col size="2">
                <button class="p-0" ion-button icon-left style="background-color: transparent" clear
                        (click)="likeProduct()">
                    <ion-icon style="font-size: 30px;" class="text-gray" name="thumbs-up"
                              [ngStyle]="{'color':product.like.includes(user._id) ? '#c7002c' : '' }"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
        <ion-row class="" center>
            <ion-col size="8">
                <ionic5-star-rating #rating
                                    activeIcon="ios-star"
                                    defaultIcon="ios-star-outline"
                                    activeColor="#016801"
                                    defaultColor="#ccc"
                                    readonly="{{product.selfRating !== 0}}"
                                    [rating]="product.selfRating.toString()"
                                    fontSize="32px"
                                    (ratingChanged)="logRatingChange($event)">
                </ionic5-star-rating>
            </ion-col>
            <ion-col size="4">
                <ion-button *ngIf="!product?.selfRating" color="primary" type="button" tappable size="medium"
                            (pointerup)="rateProduct()">Rate It!
                </ion-button>
                <ion-button *ngIf="product?.selfRating" color="grey" style="background-color: #4e4e4e" type="button"
                            size="medium">Rated!
                </ion-button>
            </ion-col>
        </ion-row>
        <ion-row class="px-3" center>
            <ion-text class="mt-0 word-wrap"><b>Description :</b> {{product.description.toLocaleString()}}</ion-text>
        </ion-row>
        <ion-row class="mtb-15 px-3" center *ngIf="product.isDonated">
            <p class="mb-0"><b>Pickup Time :</b> {{product.to.length ? product.from + '-' + product.to : 'AnyTime'}}</p>
        </ion-row>
        <ion-row class="mtb-15 px-3" center *ngIf="product.type === 'food'">
            <p class="mb-0"><b>Expiry Time :</b> {{product.expiryTime | date}}</p>
        </ion-row>
        <ion-button type="button" tappable size="medium" (click)="requestListing()" expand="full" color="primary"
                    class="mlr-15 mb-30" no-margin>
            Request Listing
        </ion-button>
    </ion-card>
    <ion-row>
            <ion-col size="12">
                    <h4 class="text-primary mb-3" color="primary">Related Items</h4>
        <ion-slides>
                <ion-slide *ngFor="let prod of relatedProduct" tappable (pointerup)="navigateToDetail(prod._id)">
                <ion-card class="short-card">
                        <img [src]="prod.mediaUrl ? prod.mediaUrl: 'assets/images/no-picture-available-icon-1.jpg'"/>
                    <p class="mb-0 padding-2">{{prod.title}}</p>
                </ion-card>
            </ion-slide>
        </ion-slides>
    </ion-col>
    </ion-row>

</ion-content>
