<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            <ion-text color="light">
                <ion-text color="light" class="fw700">Registration</ion-text>
            </ion-text>
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding class="auth-page register">
    <div class="auth-content">
        <div padding-horizontal text-center class="animated fadeInDown">
            <div class="logo" style="display:none"></div>
            <h4 class="mt-5 mb-3">
                <ion-img src="assets/images/EEHO_PNG.png"></ion-img>
            </h4>
        </div>
        <!-- Register form -->
        <form class="list-form" [formGroup]="registerForm" (ngSubmit)="registerUser()">

            <ion-list>
                <ion-item no-padding>
                    <ion-label color="primary" position="floating"><sup class="danger asterisk"></sup>Name</ion-label>
                    <ion-input formControlName="name" autofocus="on" clearInput="true"
                               clearOnEdit="true" color="text-light-gray" inputmode="text"
                               required="true"></ion-input>
                </ion-item>
            </ion-list>
            <p *ngIf="submitted && f.name.errors" class="danger">
                <ion-text *ngIf="f.name.errors.required">Name is required</ion-text>
            </p>
            <ion-list>
                <ion-item no-padding>
                    <ion-label color="primary" position="floating"><sup class="danger asterisk"></sup>Email</ion-label>
                    <ion-input type="email" formControlName="email" name="email" autofocus="on" clearInput="true"
                               clearOnEdit="true" color="text-light-gray" inputmode="text"

                               required="true"></ion-input>
                </ion-item>
            </ion-list>
            <p *ngIf="submitted && f.email.errors" class="danger">
                <ion-text *ngIf="f.email.errors.required">email is required</ion-text>
            </p>

            <ion-list>
                <ion-item no-padding>
                    <ion-label color="primary" position="floating"><sup class="danger asterisk"></sup>Address
                    </ion-label>
                    <ion-input formControlName="address" name="address" autofocus="on" clearInput="true"
                               clearOnEdit="true" color="text-light-gray" inputmode="text"
                               required="true"></ion-input>
                </ion-item>
            </ion-list>
            <p *ngIf="submitted && f.address.errors" class="danger">
                <ion-text *ngIf="f.address.errors.required">Address is required</ion-text>
            </p>

            <p class="mt-3 mb-4  fx-display">
                <ion-checkbox (ionChange)="tncChange($event)" [(ngModel)]="tnc" class="mr-2" required
                              [ngModelOptions]="{standalone: true}"></ion-checkbox>
                I accept the <a href="https://www.eeho.app/tnc" target="_blank">terms and conditions</a></p>


            <div margin-top>
                <ion-button class="mb-30" icon-left size="medium" expand="full" color="primary" tappable type="submit"
                            [disabled]="registerForm.invalid || tnc === false">
                    <ion-icon class="mr-2" name="log-in"></ion-icon>
                    Register
                </ion-button>

            </div>
        </form>

        <!-- Other links -->
        <p text-center margin-top class="display-flex">
            <span tappable>
                <ion-text color="medium">
                    <strong class="mr-3">Already have an account? </strong>
                    <ion-button (pointerup)="routeToLogin()" color="primary">Login</ion-button>
                </ion-text>
            </span>
        </p>

    </div>
</ion-content>
