
    app-register{
        --background: #006400!important;
        :host {
        ion-content.auth-page {
            --background-color: #006400 !important;
            --background: #006400!important;
        }


  }
  :host {
    ion-content {
        --background: var(--ion-color-light);
    }

    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-card {
        &.no-radius {
            border-radius: 0;
        }
    }
}
}
    .danger{
      color: #cc002e;
    }
