:host {
  .header-card {
    padding: 10px;
    margin: 12px 0px 20px 0px;
  }
  .bg-image {
    height: 220px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
    background-color: #f7f7f7;
}
.bg-dark-gray {
  background-color: #333;
  color: #fff;
  padding: 6px 15px;

}
.post-card {
  border-radius: 10px;

  p {
    color: #fff;
    font-weight: 500;
    word-break: break-word;
    letter-spacing: 1px;

}
strong {
  font-weight: 700;
    color: #c9e263;
}

h5 {
    font-size: 17px;
    margin-bottom: 0px;
}
}
.raised {
background-color: #006400ab;
    color: #fff;
    padding: 8px 15px !important;
    display: flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: max-content;
    float: right;
    right: 0px;
    bottom: -1px;
    margin-bottom: 0px;
    position: absolute;
}
.grey-row {
  background-color: #333!important;
  padding: 0px 5px 5px 5px !important;
}
  .home-card.grey-row button{
    width: auto!important;
  }

  .donation-history {
    font-size: 20px!important;
    color: #4e4e4e!important;
  }
  .custom-modal{
    display: none;
  }
  .custom-modal.show{
    display: block;
    z-index: 9999;
  }
  .donation-history-ui.d-none {
    display: none;
  }
  .fw500.label1 {
    font-size: 20px;
  }
  .video-list-cards {
    color: #4e4e4e!important;
    h2 {
      font-size: 20px!important;
      font-weight: 600!important;
      color: var(--ion-color-primary)!important;
    }
    p {
      color: #4e4e4e!important;
    }
  }
  ion-card.sc-ion-card-md-h {
    padding-bottom: 0px!important;
}
.thumb-label {
  margin: 10px;
}
.filter {
  text-align: right;
}
.donation-heading {
  font-size: 16px!important;
      font-weight: 600!important;
      color: var(--ion-color-primary)!important;
}
.tile-banner {
  min-height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}
}

