<ion-toolbar color="primary">
<!--    <ion-buttons slot="start">-->
<!--        <ion-back-button></ion-back-button>-->
<!--    </ion-buttons>-->
    <ion-title>Talent/Health/Education</ion-title>
</ion-toolbar>
<ion-content  class="donation-history-ui" (swipeRight)="onSwipeRight($event)" (swipeLeft)="onSwipeLeft($event)" appSwipe>
    <ion-row class="header-row">
        <ion-col size="6">
            <ion-item>
                <p class="mb-0 donation-heading">Support Available</p>
            </ion-item>
        </ion-col>
        <ion-col [size]="isResetVisible ? 4 : 6">
            <ion-item>
                <ion-label class="filter">Filter</ion-label>
                <ion-select [(ngModel)]="donationType" (ionChange)="updateFilter()">
                    <ion-select-option value="health">Health Support</ion-select-option>
                    <ion-select-option value="education">Education Support</ion-select-option>
                    <ion-select-option value="talent">Talent Support</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-col>
        <ion-col size="2" *ngIf="isResetVisible" style="text-align: center">
            <ion-icon name="trash" color="primary" style="    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    margin-top: 10px;" (pointerup)="reset();"></ion-icon>
        </ion-col>
    </ion-row>
    <!-- new-card -->
    <ion-card class="post-card" (click)="navigateToPay(donate)" *ngFor="let donate of donationList">
        <ion-row>
            <ion-col size="12" class="bg-image" *ngIf="donate"
                     [ngStyle]="{'background-image': donate.profileUrl ?  'url('+donate.profileUrl+')' : 'url(\'assets/images/no-picture-available-icon-1.jpg\')'}">
                <p class="raised" *ngIf="donate.targetAmount ===  donate.raisedAmount">Raised</p>
            </ion-col>
        </ion-row>
        <ion-row class="bg-dark-gray">
            <h5 class="line-height w-100">{{donate.type === 'talent' ? 'Talent' : donate.type === 'health' ? 'Health' : 'Education'}}
                Support</h5>
            <ion-text class="mb-0 word-wrap">{{donate.shortDescription}}...</ion-text>
        </ion-row>

        <ion-row padding class="home-card grey-row">
            <ion-col size="6">
                <p class="mb-0">
                    <strong>
                        Name -
                    </strong>
                    {{donate.name}}
                </p>
            </ion-col>
            <ion-col size="6">
                <p class="mb-0">
                    <strong>
                        Age -
                    </strong>
                    {{donate.age}}
                </p>
            </ion-col>
        </ion-row>
        <!-- <ion-row padding class="justify-content-end home-card grey-row">

            </ion-row> -->
    </ion-card>
    <!-- new-card -->
    <ion-fab class="mt-10" vertical="bottom" horizontal="end" slot="fixed" *ngIf="user?.role === 1">
        <ion-button (click)="modalShow()" color="danger">
            <ion-icon name="add"></ion-icon>
        </ion-button>
    </ion-fab>

</ion-content>
