<ion-header>
    <ion-toolbar color="primary">
<!--        <ion-buttons slot="start">-->
<!--            <ion-back-button></ion-back-button>-->
<!--        </ion-buttons>-->
        <ion-title> Feedback</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content  padding>
    <ion-row class="ptb-15 mb-50" margin-bottom>
        <form [formGroup]="helpForm" style="width: 100%" margin-bottom class="internal-gray" (ngSubmit)="submitHelp()">
            <ion-item margin-bottom>
                <ion-label color="primary" class="fw500" position="stacked">Feedback:
                </ion-label>
                <ion-textarea formControlName="description" type="text" class="text1 ion-textarea"></ion-textarea>
            </ion-item>
            <p *ngIf="helpSubmitted && df.description.errors" class="danger">
                <ion-text *ngIf="df.description.errors.required">Description is required</ion-text>
            </p>
            <ion-button margin-bottom expand="full" type="submit" color="danger">Submit</ion-button>
        </form>
    </ion-row>
</ion-content>
