.splash-div {
    height: 100vh;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    --ion-background-color: #ffffff;

}
.splash-div img {
width: 60%;
}