<ion-router-outlet></ion-router-outlet>
<ion-app>
    <ion-split-pane>
        <ion-menu>
            <ion-header [translucent]="true">

                <ion-toolbar color="dark" class="user-profile">
                    <ion-icon name="arrow-round-forward" (click)="toggleMenu()" class="close-icon"
                              color="light"></ion-icon>

                    <ion-item margin-bottom>

                        <ion-avatar slot="start" class="user-avatar">
                            <img [src]="user?.profileUrl ? user?.profileUrl: 'assets/images/user.png'">
                        </ion-avatar>
                        <ion-label>

                            <ion-text color="medium">
                                <h2>
                                    <strong>{{user?.name}}</strong>
                                </h2>
                            </ion-text>

                            <ion-text color="secondary">
                                <h3>
                                    {{user?.email}}
                                </h3>
                            </ion-text>
                            <ion-menu-toggle class="mto">
                                <ion-button tappable (pointerup)="navigateTo('/sharing/profile')" icon-left size="small"
                                            class="text06 capitalize" shape="round" color="dark">
                                    <ion-icon name="contact"></ion-icon>
                                    Edit profile
                                </ion-button>
                                <ion-button (pointerup)="logout()" icon-left size="small" class="text06 capitalize"
                                            shape="round"
                                            color="secondary">
                                    <ion-icon name="log-out"></ion-icon>
                                    logout
                                </ion-button>
                            </ion-menu-toggle>
                        </ion-label>
                    </ion-item>
                </ion-toolbar>
            </ion-header>

            <ion-content  class="bg-profile">
                <ion-list class="pt-0">
                    <ion-menu-toggle>
                        <ion-item color="primary" tappable (pointerup)="navigateTo('/sharing/home')">
                            <ion-icon name="home" slot="start" color="light"></ion-icon>
                            <ion-label>
                                <p>Home</p>
                            </ion-label>
                        </ion-item>
                        <ion-item color="primary" tappable (pointerup)="navigateTo('/sharing/my-listing')">
                            <ion-icon name="list" slot="start" color="light"></ion-icon>
                            <ion-label>
                                <p>My Listings</p>
                            </ion-label>
                        </ion-item>
                        <ion-item color="primary" tappable (pointerup)="navigateTo('/sharing/profile')">
                            <ion-icon name="contact" slot="start" color="light"></ion-icon>
                            <ion-label>
                                <p>Profile</p>
                            </ion-label>
                        </ion-item>
                        <ion-item color="primary" tappable (pointerup)="navigateTo('/sharing/blog')">
                            <ion-icon name="folder" slot="start" color="light"></ion-icon>
                            <ion-label>
                                <p>Blog</p>
                            </ion-label>
                        </ion-item>
                        <ion-item color="primary" tappable (pointerup)="navigateTo('/sharing/user-near-me')">
                            <ion-icon name="people" slot="start" color="light"></ion-icon>
                            <ion-label>

                                <p>Users Near Me</p>
                            </ion-label>
                        </ion-item>
                        <ion-item color="primary" tappable (pointerup)="navigateTo('/ui/info-dialog')">
                            <ion-icon name="help-buoy" slot="start" color="light"></ion-icon>
                            <ion-label>

                                <p>App Guide</p>
                            </ion-label>
                        </ion-item>
                        <ion-item color="primary" tappable (pointerup)="navigateTo('/sharing/need-help')">
                            <ion-icon name="help" slot="start" color="light"></ion-icon>
                            <ion-label>
                                <p>Need our help?</p>
                            </ion-label>
                        </ion-item>
                        <ion-item color="primary" tappable (pointerup)="navigateTo('/sharing/shop')">
                            <ion-icon name="basket" slot="start" color="light"></ion-icon>
                            <ion-label>
                                <p>Nearest eeho Shop</p>
                            </ion-label>
                        </ion-item>
                        <ion-item color="primary" tappable (pointerup)="navigateTo('/sharing/feedback')">
                            <ion-icon name="checkmark" slot="start" color="light"></ion-icon>
                            <ion-label>
                                <p>Feedback/Suggestions</p>
                            </ion-label>
                        </ion-item>
                        <ion-item color="primary" tappable (pointerup)="invite()">
                            <ion-icon name="add" slot="start" color="light"></ion-icon>
                            <ion-label>
                                <p>Invite Friends</p>
                            </ion-label>
                        </ion-item>
                        <ion-item color="primary" tappable (pointerup)="navigateTo('/sharing/terms')">
                            <ion-icon name="paper" slot="start" color="light"></ion-icon>
                            <ion-label>
                                <p>Terms & Conditions</p>
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet main>
        </ion-router-outlet>
    </ion-split-pane>
</ion-app>
