app-root{
    :host {
    ion-content {
        --background: var(--ion-color-primary);
    }
    ion-content {
        --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));

    }
    ion-list {
        &.list-md {
            padding: 0!important;
        }
    }

  }
}
.close-icon {
    position: absolute;
    right: 6px;
    bottom: 4px;
    font-size: 22px;
    }

.invite {
    position: absolute;
    top: 80%;
    display: block;
    height: 20%;
}
