
    ion-tab-bar {
        --background : var(--ion-color-danger)!important;
        --color: #fff!important;
    }

    :host {
      ion-tab-button {

        --color-selected : var(--ion-color-danger)!important;
        border-right: 1px solid #fff;
        display: border-box;
      }
      .active-item {
        color: #fff!important;
        border-bottom: 4px solid #fff;
        display: border-box;
      }
    }
