<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button (pointerup)="routeTo('home', 'food', 0)"
                        [class.active-item]="selectedPath.includes('home') && index === 0">
            <ion-icon name="pizza"></ion-icon>
            <ion-label>Food</ion-label>
        </ion-tab-button>

        <ion-tab-button (pointerup)="routeTo('home', 'non-food', 1)"
                        [class.active-item]="selectedPath.includes('home') && index === 1">
            <ion-icon name="basket"></ion-icon>
            <ion-label>Non-Food</ion-label>
        </ion-tab-button>

        <ion-tab-button (pointerup)="routeTo('createListing', '',2 )"
                        [class.active-item]="selectedPath.includes('createListing') && index === 2">
            <ion-icon name="add-circle"></ion-icon>
            <ion-label></ion-label>
        </ion-tab-button>

        <ion-tab-button (pointerup)="routeTo('health', '', 3)"
                        [class.active-item]="selectedPath.includes('health') && index === 3">
            <ion-icon name="medkit"></ion-icon>
            <ion-label>T/H/E</ion-label>
        </ion-tab-button>
<!--        <ion-tab-button (pointerup)="routeTo('forum', '', 3)"-->
<!--                        [class.active-item]="selectedPath.includes('forum') && index === 3">-->
<!--            <ion-icon name="folder"></ion-icon>-->
<!--            <ion-label>Blog</ion-label>-->
<!--        </ion-tab-button>-->
        <ion-tab-button (pointerup)="routeTo('message', '', 4)"
                        [class.active-item]="selectedPath.includes('message') && index === 4">
            <ion-icon name="chatboxes"></ion-icon>
            <ion-label>Messages   {{msgCount ? msgCount : ''}}</ion-label>

        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
