<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button color="primary" class="mt-10" (click)="closeModal()">
                <ion-icon name="close" color="light"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Search Filter
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content  class="ion-padding">


<!--    <ion-item>-->
<!--        <ion-label class="fw500" color="dark">Type</ion-label>-->
<!--        <ion-select [(ngModel)]="type">-->
<!--            <ion-select-option value="food">Food</ion-select-option>-->
<!--            <ion-select-option value="non-food">Non Food</ion-select-option>-->
<!--        </ion-select>-->
<!--    </ion-item>-->

    <ion-item>
        <ion-label class="fw500" color="dark">Distance</ion-label>
        <ion-select [(ngModel)]="distance" >
            <ion-select-option value="1">1 Km</ion-select-option>
            <ion-select-option value="3">3 Km</ion-select-option>
            <ion-select-option value="5">5 km</ion-select-option>
            <ion-select-option value="10">10 km</ion-select-option>
            <ion-select-option value="15">15 km</ion-select-option>
            <ion-select-option value="25">25 km</ion-select-option>
            <ion-select-option value="35">35 km</ion-select-option>
            <ion-select-option value="50">50 km</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label class="fw500" color="dark">Category</ion-label>
        <ion-select [(ngModel)]="category" multiple>
            <ion-select-option value="packed">Packed</ion-select-option>
            <ion-select-option value="cooked">Cooked</ion-select-option>
            <ion-select-option value="raw">Raw</ion-select-option>
            <ion-select-option value="stationary">Stationary</ion-select-option>
            <ion-select-option value="household">Household</ion-select-option>
            <ion-select-option value="clothes">Clothes</ion-select-option>
            <ion-select-option value="electronics">Electronics</ion-select-option>
            <ion-select-option value="furniture">Furniture</ion-select-option>
            <ion-select-option value="decorative">Decorative</ion-select-option>
            <ion-select-option value="others">Others</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item class="mb-30">
        <ion-label class="fw500" color="dark">Show wanted</ion-label>
        <ion-select [(ngModel)]="wanted">
            <ion-select-option value="1">Yes</ion-select-option>
            <ion-select-option value="0">No</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-button expand="full" tappable (pointerup)="filterResult()" class="bg-red mb-10" color="red">Filter Results
    </ion-button>
    <ion-button expand="full" tappable (pointerup)="reset()" class="bg-red-outline" color="red">Reset</ion-button>
</ion-content>
