   app-search-filter.ion-page {
     z-index: 9999!important;
     display: block!important;
      left: 0;
      right: 0;
      top: 200;
      bottom: 0;
      display: flex;
      position: absolute;
      flex-direction: column;
      justify-content: space-between;
      contain: layout size style;
      overflow: auto!important;
    }
    ion-toolbar.sc-ion-searchbar-md-h, ion-toolbar .sc-ion-searchbar-md-h {
      padding-top: 9px!important;
      padding-bottom: 3px!important;
  }
  .ios.buttons-first-slot{
    position: absolute;
    right: 0px;
}
