<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button color="primary" (click)="closeModal()">
                <ion-icon name="arrow-round-back" color="light"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            Notifications
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content  class="ion-padding">
    <ion-row tappable class="bg-gray notification" *ngFor="let notification of notificationList" (pointerup)="navigate(notification)">
        <h5 class="mb-0 text-primary">{{notification.title}}</h5>
        <div class="notification-desc width-100">
            <p class="mb-0 text08 text-gray">{{notification.body}}</p>
        </div>
        <ion-col class="text08 text-light-gray" size="6">
            <ion-icon name="time" class="pr-2"></ion-icon>
            {{notification.addedOn}}
        </ion-col>
        <ion-col class="text08 text-light-gray" size="6">
<!--            <button class="text-right float-right mb-0 text-dark" color="primary" *ngIf="!notification.isRead"-->
<!--                    (pointerup)="markRead(notification._id)">-->
               <ion-text *ngIf="!notification.isRead" class="text-right float-right mb-0 text-dark" color="primary"> <ion-icon name="open-outline"></ion-icon>New</ion-text>
<!--                Mark as Read-->
<!--            </button>-->
            <p class="text-right float-right mb-0 text-primary" color="primary" *ngIf="notification.isRead">
                <ion-icon name="checkmark-outline" class="pr-2"></ion-icon>
                Read
            </p>
        </ion-col>
    </ion-row>
    <ion-row tappable class="bg-gray notification " *ngIf="notificationList.length === 0">
        <h5 class="mb-0 text-primary text-center">No Notifications</h5>
    </ion-row>
</ion-content>
