<ion-header [translucent]="true">
    <ion-toolbar color="primary">
<!--        <ion-buttons slot="start">-->
<!--            <ion-back-button></ion-back-button>-->
<!--        </ion-buttons>-->
        <ion-title>Edit Profile</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content  class="profile">
    <ion-card no-margin>
        <form *ngIf="profileForm" [formGroup]="profileForm" (ngSubmit)="saveChanges()">
            <ion-card-content class="bg-profile">
                <img *ngIf="isUpdateClicked" [src]="profileUrl? profileUrl: 'assets/images/user.png'">
                <img *ngIf="!isUpdateClicked" [src]="user.profileUrl? user.profileUrl: 'assets/images/user.png'">
                <div class="clearfix"></div>
                <ion-button class="pt-10" icon-left color="secondary" tappable (click)="uploadOrTakePhoto()">
                    <ion-icon class="cursor-pointer" name="photos"></ion-icon>
                    Edit / Add Avatar
                </ion-button>
            </ion-card-content>

            <ion-grid fixed no-padding>
                <ion-row>
                    <ion-col size="12" padding>

                        <ion-list margin-bottom>
                            <ion-item>
                                <ion-label color="dark" position="stacked">Name:</ion-label>
                                <ion-input id="name" formControlName="name" inputmode="text" placeholder="John"
                                ></ion-input>
                                <ion-text *ngIf="submitted && f.name.errors" class="danger">
                                    <ion-text *ngIf="f.name.errors.required">name is required</ion-text>
                                </ion-text>
                            </ion-item>

                            <ion-item>
                                <ion-label color="dark" position="stacked">Email:</ion-label>
                                <ion-input formControlName="email" inputmode="email"
                                ></ion-input>
                            </ion-item>
                            <ion-item>

                                <ion-row>
                                    <ion-col size="10">
                                        <ion-label color="dark" position="stacked">
                                            <sup class="danger asterisk">*</sup>Contact (+91)
                                        </ion-label>
                                        <ion-input clearInput="true" clearOnEdit="true" type="tel"
                                                   formControlName="phone" maxlength="10" name="phone"
                                                   color="text-light-gray"
                                                   inputmode="tel" placeholder="Enter your Contact no"
                                                   required="true"></ion-input>
                                        <ion-text *ngIf="submitted && f.phone.errors" class="danger">
                                            <ion-text *ngIf="f.phone.errors.required">phone is required</ion-text>
                                            <ion-text *ngIf="f.phone.errors?.pattern">10 digit only without +91
                                            </ion-text>
                                        </ion-text>
                                    </ion-col>

                                    <ion-col size="2" class="pt-4" *ngIf="user.phone && user.isVerified === 0">
                                        <ion-text color="primary" style="font-style: italic; font-size: 15px; "
                                                  (pointerup)="verifyPhone()">Verify
                                        </ion-text>
                                    </ion-col>

                                </ion-row>
                            </ion-item>
                            <ion-item>
                                <ion-label color="dark" position="stacked">Address:</ion-label>
                                <ion-textarea class="ion-textarea" formControlName="address" inputmode="text" class="ion-textarea"
                                           placeholder="Ex.: 142, Gurgaon"></ion-textarea>
                                <ion-text *ngIf="submitted && f.address.errors" class="danger">
                                    <ion-text *ngIf="f.address.errors.required">address is required</ion-text>
                                </ion-text>
                            </ion-item>
                            <ion-item>

                                <ion-label color="dark" position="stacked">Zipcode:</ion-label>
                                <ion-input formControlName="zipCode" inputmode="tel" maxlength="6"
                                ></ion-input>
                                <ion-text *ngIf="submitted && f.zipCode.errors" class="danger">
                                    <ion-text *ngIf="f.zipCode.errors.required">zipCode is required</ion-text>
                                    <ion-text *ngIf="f.zipCode.errors?.pattern">zipCode must be of 6 digit</ion-text>
                                    <ion-text *ngIf="f.zipCode.errors?.maxLength">zipCode must be of 6 digit</ion-text>
                                </ion-text>
                            </ion-item>
                            <ion-item>
                                <ion-label color="dark" position="stacked">Notification Radius (Km):</ion-label>
                                <ion-input formControlName="radius" inputmode="tel" maxlength="9999"
                                ></ion-input>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-button type="submit" tappable size="medium" expand="full" color="danger"
                        class="mlr-15 mb-30" no-margin>Save Changes
            </ion-button>
        </form>
    </ion-card>
</ion-content>
