.delete-icon {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #fff;
  font-weight: 100;
  font-size: 22px;
}

.cancel-icon {
  position: absolute;
  right: 10px;
  top: 5px;
  color: #fff;
  font-weight: 100;
  font-size: 18px;
}

.border-box {
  border: 1px solid #ccc;
  border-radius: 14px;
}
