<ion-toolbar color="primary">
    <ion-title>Chat History</ion-title>
    <ion-icon name="trash" *ngIf="!showCheckbox  && userList.length" class="delete-icon" tappable
              (pointerup)="showDelete()"></ion-icon>
    <ion-item tappable
              (pointerup)="hideDelete()" class="cancel-icon" *ngIf="showCheckbox">Cancel
    </ion-item>
</ion-toolbar>
<ion-content class="mt-10" padding forceOverscroll="true" force-overscroll (swipeLeft)="onSwipeLeft($event)" appSwipe>
    <ion-row class="no-post mt-110" *ngIf="!userList.length">
        <ion-col class="p-0" center text-center>
            <h5>No recent chats</h5>
        </ion-col>
    </ion-row>
    <ion-button type="submit" tappable size="medium" color="danger" class="mlr-15 mb-30" no-margin
                style="position: absolute; bottom: 0px; vertical-align: middle"
                (pointerup)="deleteChat()" *ngIf="showCheckbox">
        Delete
    </ion-button>
    <ion-title class="pl-0" *ngIf="userList.length">Active Chats</ion-title>
    <ion-row class="justify-content-center mt-10 align-items-center border-box" *ngFor="let user of userList" tappable
    >
        <ion-col size="1" *ngIf="showCheckbox">
            <ion-checkbox tappable (pointerup)="getChatId(user._id, $event.target.value)"></ion-checkbox>
        </ion-col>
        <ion-col size="11">
            <ion-row class="justify-content-center align-items-center" (click)="navigateToChat(user)">
                <ion-col size="3">
                    <ion-avatar>
                        <img class="post-avatar" [src]="user.profileUrl ? user.profileUrl : 'assets/images/user.png'">
                    </ion-avatar>
                </ion-col>

                <ion-col size="7">
                    <p class="mb-0 text-primary mt-0">{{user.name}}</p>
                    <p *ngIf="user.type !== 'media'" class="mb-0 text-truncate">{{user.message}}</p>
                    <p *ngIf="user.type === 'media'" class="mb-0 text-truncate">
                        <ion-icon class="sendBtn-icon" name="attach" color="dark"></ion-icon>
                        Shared Attachment
                    </p>
                </ion-col>
                <ion-col class="text-center" size="2">
                    <ion-icon class="text-primary" size="large" name="chatbubbles"></ion-icon>
                    {{user.count ? user.count : ''}}
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
    <ion-title class="pl-0" *ngIf="userRequestList.length">Chat Requests</ion-title>
    <ion-row class="justify-content-center mt-10 align-items-center border-box" *ngFor="let user of userRequestList"
    >
        <ion-col size="12">
            <ion-row class="justify-content-center align-items-center">
                <ion-col size="3">
                    <ion-avatar>
                        <img class="post-avatar" [src]="user.profileUrl ? user.profileUrl : 'assets/images/user.png'">
                    </ion-avatar>
                </ion-col>

                <ion-col size="5">
                    <p class="mb-0 text-primary mt-0">{{user.name}}</p>
                    <!--            <p class="mb-0">Da illest Illegimate</p>-->
                </ion-col>

                <ion-col class="text-center" size="2">
                    <ion-icon class="text-primary" size="large" name="person-add" tappable
                              (click)="acceptRequest(user._id)"></ion-icon>
                </ion-col>
                <ion-col class="text-center" size="2">
                    <ion-icon class="text-danger" size="large" name="trash" tappable
                              (click)="rejectRequest(user._id)"></ion-icon>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
</ion-content>
