<ion-toolbar color="primary">
    <!-- <ion-title>My Friends</ion-title> -->
    <ion-row class="justify-content-center align-items-center py-1" tappable *ngIf="receiverUser">
        <ion-col size="2" class="text-center text-align-center">
            <ion-avatar>
                <ion-img class="post-avatar"
                         [src]="receiverUser && receiverUser.profileUrl ? receiverUser.profileUrl  : 'assets/images/user.png'"></ion-img>
            </ion-avatar>
        </ion-col>

        <ion-col size="8">
            <p class="mb-0 text-white">{{receiverUser.name}}</p>
        </ion-col>
        <ion-col size="2" class="text-center">
            <ion-icon name="alert" class="font-24" tappable (click)="showOptions()"></ion-icon>
        </ion-col>
    </ion-row>
</ion-toolbar>
<ion-content padding class="contentBg" #content id="chat-parent" overflow-scroll="true">
    <div>
        <div id="chat-container">
            <div class="message-wrap">
                <div *ngFor="let msg of msgList;let i = index; let first = first; let last = last" class="message">

                    <div class="message-left" *ngIf="msg.senderId !== senderId">
                        <div class="msg-detail">
                            <div class="msg-content">
                                <p *ngIf="msg.type === 'text'" class="line-breaker word-wrap">{{msg.message}}
                                </p>
                                <ion-img *ngIf="msg.type === 'media'" [src]="msg.message" tappable (click)="openImageViewer(msg.message)"></ion-img>
                            </div>
                        </div>
                    </div>
                    <div class="message-right" *ngIf="msg.senderId === senderId">
                        <div class="msg-detail">
                            <div class="msg-info">
                            </div>
                            <div class="msg-content">
                                <p *ngIf="msg.type === 'text'" class="line-breaker word-wrap">{{msg.message}}
                                </p>
                                <ion-img *ngIf="msg.type === 'media'" [src]="msg.message" tappable (click)="openImageViewer(msg.message)"></ion-img>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</ion-content>

<ion-footer class="footer">
    <ion-toolbar class="footerSections">
        <div class="containerFooter" *ngIf="!isBlocked">
            <ion-textarea text-wrap class="placeholdertext inputMessage inputBg word-wrap chat-textarea" type="text"
                          *ngIf="!profileUrl.length"
                          placeholder="Type a message"
                          [(ngModel)]="inpText" auto-grow="true" [autoGrow]="true"
                          autofocus="true" padding-start></ion-textarea>
            <ion-img ion-item  [src]="profileUrl" *ngIf="profileUrl.length"
                     style="width: 50px; height: 150px; flex-grow: 8;"></ion-img>
            <div class="send-button-parent ">
                <ion-button *ngIf="profileUrl.length" (click)="clearUpload()" class="sendBtn danger" color="danger"
                            type="submit">
                    <ion-icon class="sendBtn-icon" name="trash" color="light"></ion-icon>
                </ion-button>
                <ion-button (click)="sendMsg()" class="sendBtn" color="primary" type="submit" sty>
                    <ion-icon class="sendBtn-icon" name="send" color="light"></ion-icon>
                </ion-button>
                <ion-button (click)="uploadOrTakePhoto()" class="sendBtn" color="primary" type="submit">
                    <ion-icon class="sendBtn-icon" name="attach" color="light"></ion-icon>
                </ion-button>

            </div>
        </div>
        <div class="containerFooter" *ngIf="isBlocked">
            <ion-label class="ml-3">You cannot reply to this conversation</ion-label>
        </div>
    </ion-toolbar>
</ion-footer>
