.bg-gray {
    padding: 5px 10px;
    background: #fcfcfc;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(var(--ion-color-dark-rgb), 0.34);
}
.internal-gray {
    background: #fcfcfc;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(var(--ion-color-dark-rgb), 0.34);
}
.internal-gray .bg-gray {
    background: #fff;
    color: #006400;
    font-weight: bold;
    margin-bottom: 20px
}
p.danger {
    color: #c7002c;
    font-size: 12px;
    margin-top: -10px;
}
ion-label.fw500 {
    font-size: 20px!important;
}
.mb-50 {
    margin-bottom: 50px;
}
.add-button{    
width: 100%;
height: 50px;
font-weight: bold;
font-size: 15px;
}
//   label{
//     padding: 8px 25px;
//     background: #006400;
//     display: flex;
//     color: #fff;
//     border-radius: 5px;
//     justify-content: center;
//     align-items: center;

//      }

//      ion-icon {
//          margin-right: 5px;
//          font-size: 18px;
//      }


// input[type="file"], .inputfile {
//     display: none;
// }