<ion-toolbar color="primary">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>
        Want/Share
    </ion-title>
</ion-toolbar>
<ion-content  padding (swipeRight)="onSwipeRight($event)" (swipeLeft)="onSwipeLeft($event)" appSwipe>

    <ion-row class="bg-gray">Want
        <ion-toggle (ionChange)="updateToggle()" [checked]="isDonated"></ion-toggle>
        Share
    </ion-row>

    <ion-row class="ptb-15 mb-50" margin-bottom *ngIf="isDonated">
        <form [formGroup]="donateForm" style="width: 100%" margin-bottom class="internal-gray"
              (ngSubmit)="submitDonate()">
            <ion-row class="bg-gray">
                Food
                <ion-toggle (ionChange)="foodType()" [checked]="!type"></ion-toggle>
                Non-Food
            </ion-row>
            <ion-item margin-bottom>
                <ion-label color="primary" class="fw500" position="stacked">Title:
                </ion-label>
                <ion-textarea formControlName="title" type="text" class="ion-textarea text11"></ion-textarea>
            </ion-item>
            <p *ngIf="donateSubmitted && df.title.errors" class="danger">
                <ion-text *ngIf="df.title.errors.required">Title is required</ion-text>
            </p>
            <ion-item margin-bottom>
                <ion-label color="primary" class="fw500" position="stacked">Availability
                </ion-label>
                <ion-row>
                    <ion-col size="6">
                        <ion-datetime displayFormat="HH:mm" formControlName="from"></ion-datetime>
                    </ion-col>
                    <ion-col size="6">
                        <ion-datetime displayFormat="HH:mm" formControlName="to" [min]="df.from.value"></ion-datetime>
                    </ion-col>
                </ion-row>

            </ion-item>
            <ion-item margin-bottom>
                <ion-label color="primary" class="fw500" position="stacked">Description:
                </ion-label>
                <ion-textarea formControlName="description" type="text" class="ion-textarea text11"></ion-textarea>
            </ion-item>
            <p *ngIf="donateSubmitted && df.description.errors" class="danger">
                <ion-text *ngIf="df.description.errors.required">Description is required</ion-text>
            </p>
            <ion-item margin-bottom *ngIf="type">
                <ion-label color="primary" class="fw500" position="stacked">Expiry:
                </ion-label>
                <ion-datetime formControlName="expiryTime" class="text11" [max]="currentYear" [min]="minYear"></ion-datetime>
            </ion-item>
            <p *ngIf="type && donateSubmitted && df.expiryTime.errors" class="danger">
                <ion-text *ngIf="df.expiryTime.errors.required">Expiry is required</ion-text>
            </p>
            <ion-item margin-bottom>
                <ion-label color="primary" class="fw500" position="stacked">Category:
                </ion-label>
                <ion-select formControlName="category" *ngIf="type">
                    <ion-select-option value="packed">Packed</ion-select-option>
                    <ion-select-option value="cooked">Cooked</ion-select-option>
                    <ion-select-option value="raw">Raw</ion-select-option>
                </ion-select>
                <ion-select formControlName="category" *ngIf="!type">
                    <ion-select-option value="stationary">Stationary</ion-select-option>
                    <ion-select-option value="household">Household</ion-select-option>
                    <ion-select-option value="clothes">Clothes</ion-select-option>
                    <ion-select-option value="electronics">Electronics</ion-select-option>
                    <ion-select-option value="furniture">Furniture</ion-select-option>
                    <ion-select-option value="decorative">Decorative</ion-select-option>
                    <ion-select-option value="others">Others</ion-select-option>
                </ion-select>
                <p *ngIf="donateSubmitted && df.category.errors" class="danger">
                    <ion-text *ngIf="df.category.errors.required">Category is required</ion-text>
                </p>
            </ion-item>
            <p *ngIf="type && donateSubmitted && df.expiryTime.errors" class="danger">
                <ion-text *ngIf="df.expiryTime.errors.required">Expiry is required</ion-text>
            </p>
            <ion-item margin-bottom>
                <ion-button class="pt-10 add-button" icon-left color="secondary" tappable (click)="uploadOrTakePhoto()">
                    <ion-icon class="cursor-pointer" expand="full" name="photos"></ion-icon>
                    Add Image
                </ion-button>
            </ion-item>

            <ion-card class="short-card" *ngIf="profileUrl">
                <ion-img [src]="profileUrl" style="object-fit: contain;width: 100%; height: 250px;
"></ion-img>
            </ion-card>
            <ion-button margin-bottom expand="full" type="submit" color="danger">Submit</ion-button>
        </form>

    </ion-row>

    <ion-row class="ptb-15 mb-50" *ngIf="!isDonated">
        <form [formGroup]="wantForm" class="internal-gray" style="width:100%" (ngSubmit)="submitWant()">
            <ion-row class="bg-gray">
                Food
                <ion-toggle (ionChange)="foodType()" [checked]="!type"></ion-toggle>
                Non-Food
            </ion-row>
            <ion-item margin-bottom>
                <ion-label color="primary" class="fw500" position="stacked">Title:
                </ion-label>
                <ion-textarea formControlName="title1" type="text" class="ion-textarea text11"></ion-textarea>
            </ion-item>
            <p *ngIf="wantSubmitted && wf.title1.errors" class="danger">
                <ion-text *ngIf="wf.title1.errors.required">Title is required</ion-text>
            </p>
            <ion-item margin-bottom>
                <ion-label color="primary" class="fw500" position="stacked">Description:
                </ion-label>
                <ion-textarea formControlName="description1" type="text" class="ion-textarea text11"></ion-textarea>
            </ion-item>
            <p *ngIf="wantSubmitted && wf.description1.errors" class="danger">
                <ion-text *ngIf="wf.description1.errors.required">Description is required</ion-text>
            </p>
            <ion-item margin-bottom *ngIf="type">
                <ion-label color="primary" class="fw500" position="stacked">Expiry:
                </ion-label>
                <ion-datetime formControlName="expiryTime" class="text11" [max]="currentYear" [min]="minYear"></ion-datetime>
            </ion-item>
            <p *ngIf="type && wantSubmitted && wf.expiryTime.errors" class="danger">
                <ion-text *ngIf="wf.expiryTime.errors.required">Expiry is required</ion-text>
            </p>
            <ion-item margin-bottom>
                <ion-label color="primary" class="fw500" position="stacked">Category:
                </ion-label>
                <ion-select formControlName="category" *ngIf="type">
                    <ion-select-option value="packed">Packed</ion-select-option>
                    <ion-select-option value="cooked">Cooked</ion-select-option>
                    <ion-select-option value="raw">Raw</ion-select-option>
                </ion-select>
                <ion-select formControlName="category" *ngIf="!type">
                    <ion-select-option value="stationary">Stationary</ion-select-option>
                    <ion-select-option value="household">Household</ion-select-option>
                    <ion-select-option value="clothes">Clothes</ion-select-option>
                    <ion-select-option value="electronics">Electronics</ion-select-option>
                    <ion-select-option value="furniture">Furniture</ion-select-option>
                    <ion-select-option value="decorative">Decorative</ion-select-option>
                    <ion-select-option value="others">Others</ion-select-option>
                </ion-select>
            </ion-item>
            <p *ngIf="donateSubmitted && wf.category.errors" class="danger">
                <ion-text *ngIf="wf.category.errors.required">Category is required</ion-text>
            </p>
            <ion-button expand="full" type="submit" color="danger">Submit</ion-button>
        </form>

    </ion-row>
</ion-content>
