<ion-content  class="ion-padding">
    <ion-list>
        <ion-list-header color="primary">
            Home Screen
        </ion-list-header>
       
        <ion-item>
            <ion-label>
            <h2>Food:</h2>
            <p>You will get all food products shared by other users and can request for any product
                he/she need for free.</p>
          </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
            <h2>Non-Food:</h2>
            <p>You will get all Non-food products shared by other users and can request for
                any product you need for free.</p>
          </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
            <h2>Plus Icon:</h2>
            <p>Here you can add your food, non-food products for sharing with others.</p>
          </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
            <h2>Radio:</h2>
            <p>This is crowdfunding module, where eeho is supporting Talent/Health/Education.
                Here users can share their part to grow someone’s life.
                </p>
          </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
            <h2>Messages:</h2>
            <p>This is the chat section of eeho.</p>
          </ion-label>
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-list-header color="primary">
            Menu
        </ion-list-header>
        <ion-item>
            <ion-label>
            <h2>Blog:</h2>
            <p>Here you will get daily news updates regarding wastage, human resources,
                agriculture, food and many more.</p>
          </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
            <h2>My Listings:</h2>
            <p>Here you can check your listed products, you can remove your gone products.</p>
          </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
            <h2>Need our help:</h2>
            <p>Here you can send us details, if someone nearby you, needs our help
                regarding talent/health/education.
                </p>
          </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
            <h2>Nearest eeho shops:</h2>
            <p>This is coming soon.</p>
          </ion-label>
        </ion-item>
    </ion-list>
      </ion-content>
