<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false" color="primary"></ion-menu-button>
        </ion-buttons>
        <ion-title class="p-0">
            <ion-text color="light">
                <!--  <ion-text color="primary" class="fw700">EEHO</ion-text> -->
                 <img width="100" src="assets/images/EEHO_PNG.png" />
            </ion-text>
        </ion-title>

        <ion-buttons slot="end">
            <ion-button shape="round" color="primary" tappable (pointerup)="modalShow()">
                <ion-icon name="notifications-outline"></ion-icon>
                <sup>
                    <ion-badge class="ion-badge" color="dark" size="small" shape="round" slot="end">{{notificationCount}}</ion-badge>
                </sup>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
