:host {
    ion-content {
        --background: var(--ion-color-light);
    }

    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-card {
        &.no-radius {
            border-radius: 0;
        }
    }
    .search-container {
        position: absolute;
        margin: auto;
        top: 190px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 300px;
        height: 100px;
        .search-bar {
          position: absolute;
          margin: auto;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 60px;
          height: 60px;
          background: #158b35;
          border-radius: 50%;
          transition: all 1s;
          z-index: 4;
          box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
          // box-shadow: 0 0 25px 0 crimson;
          &:hover {
            cursor: pointer;
          }
          &::before {
            content: "";
            position: absolute;
            margin: auto;
            top: 22px;
            right: 0;
            bottom: 0;
            left: 22px;
            width: 12px;
            height: 2px;
            background: white;
            transform: rotate(45deg);
            transition: all .5s;
          }
          &::after {
            content: "";
            position: absolute;
            margin: auto;
            top: -5px;
            right: 0;
            bottom: 0;
            left: -5px;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 2px solid white;
            transition: all .5s;
          }
        }
        .input-search {
            font-family: 'Inconsolata', monospace;
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 50px;
            height: 50px;
            outline: none;
            border: none;
            background: #158b35;
            color: white;
            text-shadow: 0 0 10px #158b35;
            padding: 0 80px 0 20px;
            border-radius: 30px;
            box-shadow: 0 0 25px 0 #158b35, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
            -webkit-transition: all 1s;
            transition: all 1s;
            opacity: 0;
            z-index: 5;
            font-weight: bolder;
            letter-spacing: 0.1em;
          &:hover {
            cursor: pointer;
          }
          &:focus {
            width: 300px;
            opacity: 1;
            cursor: text;
          }
          &:focus ~ .search-bar {
            right: -250px;
            background: #151515;
            z-index: 6;
            &::before {
              top: 0;
              left: 0;
              width: 25px;
            }
            &::after {
              top: 0;
              left: 0;
              width: 25px;
              height: 2px;
              border: none;
              background: white;
              border-radius: 0%;
              transform: rotate(-45deg);
            }
          }
          &::placeholder {
            color: white;
            opacity: 0.5;
            font-weight: bolder;
          }
        }
      }
      
}