<ion-toolbar color="primary">
    <ion-searchbar showCancelButton="focus" enterkeyhint="search" (ionChange)="searchItem($event)">
    </ion-searchbar>
    <ion-buttons slot="end">
        <ion-button size="small" shape="round" tappable color="medium" (click)="searchFilter()">
            <ion-icon name="options" class="ios-mt-10"></ion-icon>
        </ion-button>
    </ion-buttons>
</ion-toolbar>
<ion-content (swipeRight)="onSwipeRight($event)" (swipeLeft)="onSwipeLeft($event)" appSwipe class="mt-30" padding>
    <ion-row class="no-post mt-110" *ngIf="!(productTypeList.indexOf(tabSelected) > -1)">
        <ion-col class="p-0" center text-center>
            <h5>No Products Listed, Please try after some time</h5>
            <a [routerLink]="['/sharing/createListing']">
                <ion-button type="button" tappable size="medium" expand="full" color="primary"
                            class="mlr-15 mb-30 mt-30" no-margin>
                    Create Listing
                </ion-button>
            </a>
        </ion-col>
    </ion-row>
    <ion-row class="no-post mt-110" *ngIf="message.length && productList.length === 0">
        <ion-col class="p-0" center text-center>
            <h5>Oops! No product found</h5>
        </ion-col>
    </ion-row>
    <ion-row class="toggle-icons " *ngIf="productList.length !== 0 && (productTypeList.indexOf(tabSelected) > -1)">
        <ion-col size="12" class="text-right float-right d-flex justify-content-end ">
            <ion-icon name="list" color="primary" tappable (pointerup)="updateViewType('list')"></ion-icon>
            <ion-icon name="apps" color="primary" tappable (pointerup)="updateViewType('grid')"></ion-icon>
        </ion-col>
    </ion-row>


    <ng-container *ngFor="let product of productList">
        <ion-card class="mb-3" no-padding *ngIf="tabSelected === product.type && viewType === 'grid'" tappable
                  (pointerup)="getProductDetail(product?._id)">
            <!-- <h5 class="pb-0 prl-15 pt-10">{{product.title}}</h5> -->
            <div class="bg-image" *ngIf="product.mediaUrl"
                 [ngStyle]="{'background-image': 'url('+ product.mediaUrl+')'}"
            >
            </div>
            <!--            <ion-img *ngIf="product.mediaUrl" [src]="product.mediaUrl" class="post-image" style="object-fit: fill;height: 100%; max-height:100%;">-->

            <!--            </ion-img>-->
            <ion-row class="icon-absolute">
                <ion-col class="p-0" center text-center>
                    <button class="p-0 icon-button" ion-button icon-left clear small>
                        <ion-icon name="ios-heart" class="heart-filled"></ion-icon>
                        {{product.like.length}} Likes
                    </button>
                    <button class="p-0 icon-button" ion-button icon-left clear small>
                        <ion-icon name="ios-star" class="heart-filled"></ion-icon>
                        {{product.rating ? product.rating.toFixed(1) : ''}}
                    </button>
                </ion-col>
            </ion-row>
            <ion-row class="home-card">
                    <ion-col size="12" class="p-0">
                    <h5 class="pb-0 prl-15 text-capitalize">{{product.title}}</h5>
                  </ion-col>
                <ion-col size="6" class="p-0">
                    <button class="" ion-button icon-left clear small>
                        <ion-icon name="pricetag"></ion-icon>
                        {{product.to.length ? product.from + '-' + product.to : 'AnyTime'}}
                    </button>
                </ion-col>
                <ion-col size="6" class="p-0" center text-center>
                    <button class="text-right float-right" ion-button icon-right clear smal >
                        <ion-icon name="pin"></ion-icon>
                        {{(product.distance / 1000).toFixed(0)}} Kms
                    </button>
                </ion-col>
                <ion-col size="6" class="p-0">
                    <button class="" ion-button icon-left clear small>
                        <ion-icon name="time"></ion-icon>
                        {{product.addedOn}}
                    </button>
                </ion-col>

            </ion-row>

        </ion-card>
    </ng-container>
    <ng-container *ngFor="let product of productList">
        <ion-card class="p-0 card-style-2" *ngIf="tabSelected === product.type && viewType === 'list'" tappable
                  (pointerup)="getProductDetail(product?._id)">
            <ion-row>
                <ion-col class="p-0 br-1 bg-image-sm" size="5" size-sm *ngIf="product.mediaUrl"
                [ngStyle]="{'background-image': 'url('+ product.mediaUrl+')'}">
                    <!-- <ion-img class="image-parent" *ngIf="product.mediaUrl" [src]="product.mediaUrl"></ion-img> -->
                    <div class="home-card button-absolute">
                        <button class="p-0" ion-button icon-left clear small>
                            <ion-icon name="ios-heart" class="heart-filled"></ion-icon>
                            {{product.like.length}} Likes
                        </button>
                        <button class="pl-2" ion-button icon-left clear small>
                            <ion-icon name="ios-star" class="heart-filled"></ion-icon>
                            {{product.rating ? product.rating.toFixed(1) : ''}}
                        </button>
                    </div>
                </ion-col>
                <ion-col class="p-0" size="7" size-sm>
                    <h5 class="pb-0 prl-15 pt-10 mb-0">{{product.title}}</h5>
                    <ion-row class="home-card">

                        <ion-col class="" size="12">
                            <button class="p-0 text-left" ion-button icon-left clear small>
                                <ion-icon name="pricetag"></ion-icon>
                                {{product.to.length ? product.from + '-' + product.to : 'AnyTime'}}
                            </button>
                        </ion-col>
                        <!-- <ion-col class="p-0" size="6">
                                <button class="p-0" ion-button icon-left clear small>
                                    <ion-icon name="ios-star" class="heart-filled"></ion-icon>
                                    {{product.rating}}
                                </button>
                            </ion-col> -->
                        <ion-col class="p-0" size="6">
                            <button class="p-0" ion-button icon-left clear small>
                                <ion-icon name="pin"></ion-icon>
                                {{(product.distance / 1000).toFixed(0)}} kms
                            </button>
                        </ion-col>
                        <ion-col class="p-0" size="6">
                            <button class="p-0" ion-button icon-left clear small>
                                <ion-icon name="time"></ion-icon>
                                {{product.addedOn}}
                            </button>
                        </ion-col>
                        <!-- <ion-col class="p-0" size="6">
                            <button class="p-0" ion-button icon-left clear small>
                                <ion-icon name="ios-heart" class="heart-filled"></ion-icon>
                                {{product.like.length}} Likes
                            </button>
                        </ion-col> -->

                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-card>
    </ng-container>

</ion-content>
