
app-home {
       .image-parent {
              position: relative;
       }
       .bg-image {
              height: 180px;
              width: 100%;
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              background-color: #b6936a;
       }
       .ios-mt-10.ios {
              margin-top: 10px
       }

       .bg-image-sm {
              height: 100px;
              width: 100%;
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              background-color: #b6936a;  
       }
       .button-absolute {
              background: transparent;
              position: absolute;
              bottom: 0px;
              color: #fff;
              text-align: left;
              background-color: #000000a3;
              padding: 2px 5px !important;
              right: 0px;
              button {
                     width: auto!important;
                     color: #fff;
              }
       }
       ion-searchbar {
              padding-top: 5px !important;
              padding-bottom: 2px !important;
          }
       .card-style-2 .home-card {
              padding-top: 0px!important;
       }
       .card-style-2 img, .image-parent {
              width: 100%;
              height: 100px;
              max-height: 100px;
       }
       .br-1 {
       border-right: 1px solid #ddd;
       }
       .home-card {
              padding-top: 10px

       }
       .home-card button {
              text-align: left
       }
       .short-card {
              width: 100%;
              // height: 90px;
              height: auto;
              padding-bottom: 0px;
              // margin: 0px;
              margin-bottom: 20px;
       }
       .swiper-slide img {
              width: 100% !important;
              max-width: 100%;
              height: 110px !important;
              max-height: 100%;
          }
       .swiper-zoom-container, ion-slide {
              width: 115px!important;
       }
       .toggle-icons {
              ion-icon {
                     font-size: 30px;
              }
       }

}

   
