:host {
  .header-card {
    padding: 10px;
    margin: 12px 0px 20px 0px;
  }
  .post-card {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    margin-bottom : 10px!important;
    padding-left: 10px!important;
    padding-right: 10px!important;
  }
  .grey-row {
    background-color: #f5f5f5!important;
    padding: 5px!important;
  }
  .home-card.grey-row button{
    width: auto!important;
  }
  ion-content {
    // top: 100px!important;
    // margin-bottom: 80px!important;
    // padding-bottom: 80px!important;
    // bottom: 80px!important;
  }
  .donation-history {
    font-size: 20px!important;
    color: #4e4e4e!important;
  }
  .custom-modal{
    display: none;
  }
  .custom-modal.show{
    display: block;
    z-index: 9999;
  }
  .donation-history-ui.d-none {
    display: none;
  }
  .fw500.label1 {
    font-size: 20px;
  }
}

app-pay-modal.ion-page {
  z-index: 9999!important;
  display: block!important;
  left: 0;
  right: 0;
  top: 200;
  bottom: 0;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  contain: layout size style;
  overflow: auto!important;
}
.add-button{
  width: 100%;
  height: 50px;
  font-weight: bold;
  font-size: 15px;
}
