<ion-header>
    <ion-toolbar color="primary" class="pt-15">
        <ion-buttons slot="start">
            <ion-button color="primary" (click)="closeModal()">
                <ion-icon name="close" color="light"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
<!--            Add New Donation-->
        </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content  class="ion-padding">
    <form [formGroup]="donateForm" (ngSubmit)="addDonation()" novalidate *ngIf="donateForm">
        <ion-item class="class=" mt-20>
            <ion-label class="fw500" color="primary">Donation Type</ion-label>
            <ion-select formControlName="donationType">
                <ion-select-option value="talent">Talent</ion-select-option>
                <ion-select-option value="health">Health</ion-select-option>
                <ion-select-option value="education">Education</ion-select-option>
            </ion-select>
            <p *ngIf="donateSubmitted && df.donationType.errors" class="danger">
                <ion-text *ngIf="df.donationType.errors.required">Donation type is required</ion-text>
            </p>
        </ion-item>

        <ion-item margin-bottom class="mt-20">
            <ion-label color="primary" class="fw500 label1" position="stacked">Name
            </ion-label>
            <ion-input formControlName="name" type="text" class="text1"></ion-input>
        </ion-item>
        <p *ngIf="donateSubmitted && df.name.errors" class="danger">
            <ion-text *ngIf="df.name.errors.required">Name is required</ion-text>
        </p>

        <ion-item margin-bottom class="mt-20">
            <ion-label color="primary" class="fw500 label1" position="stacked">Description
            </ion-label>
            <ion-textarea formControlName="description" type="text" class="text1 ion-textarea"></ion-textarea>
        </ion-item>
        <p *ngIf="donateSubmitted && df.description.errors" class="danger">
            <ion-text *ngIf="df.description.errors.required">Description is required</ion-text>
        </p>

        <ion-item margin-bottom class="mt-20">
            <ion-label color="primary" class="fw500 label1" position="stacked">Target Amount
            </ion-label>
            <ion-input formControlName="targetAmount" type="number" class="text1"></ion-input>
        </ion-item>

        <p *ngIf="donateSubmitted && df.targetAmount.errors" class="danger">
            <ion-text *ngIf="df.targetAmount.errors.required">Target amount is required</ion-text>
            <ion-text *ngIf="df.targetAmount.errors?.max">Invalid target amount</ion-text>
        </p>
        <ion-item margin-bottom class="mt-20">
            <ion-label color="primary" class="fw500 label1" position="stacked">Age
            </ion-label>
            <ion-input formControlName="age" type="number" class="text1"></ion-input>
        </ion-item>

        <p *ngIf="donateSubmitted && df.age.errors" class="danger">
            <ion-text *ngIf="df.age.errors.required">Age is required</ion-text>
            <ion-text *ngIf="df.age.errors?.max">Invalid age</ion-text>
        </p>

        <ion-item margin-bottom class="mt-20">
            <ion-label color="primary" class="fw500 label1" position="stacked">Video URL
            </ion-label>
            <ion-input formControlName="videoUrl" type="url" class="text1"></ion-input>
        </ion-item>
        <p *ngIf="donateSubmitted && df.videoUrl.errors" class="danger">
            <ion-text *ngIf="df.videoUrl.errors?.required">Video Url is required</ion-text>
        </p>

        <ion-item margin-bottom class="mt-20">
            <ion-label color="primary" class="fw500 label1" position="stacked">Document URL
            </ion-label>
            <ion-input formControlName="documentUrl" type="url" class="text1"></ion-input>
        </ion-item>

        <ion-item margin-bottom>
            <ion-button class="pt-10 add-button" icon-left color="secondary" tappable (click)="uploadOrTakePhoto()">
                <ion-icon class="cursor-pointer" expand="full" name="photos"></ion-icon>
                Add Image
            </ion-button>
            <!-- <label for="file">Choose a file</label> -->

        </ion-item>
        <ion-item>
            <ion-card class="short-card" *ngIf="profileUrl">
                <ion-img [src]="profileUrl" style="object-fit: contain;width: 100%; height: 250px;
"></ion-img>
            </ion-card>
        </ion-item>
        <ion-button type="submit" expand="full" class="mlr-15 mt-30" color="primary">Add</ion-button>
    </form>
</ion-content>



