<!--<ion-header>-->
<!--    <ion-toolbar color="primary">-->
<!--        <ion-title>-->
<!--            Invite Friends-->
<!--        </ion-title>-->
<!--    </ion-toolbar>-->
<!--</ion-header>-->
<!--<ion-content  class="ion-padding">-->
<!--    <ion-text>Better health is enjoyed by those who donate their time, expertise or money to others-->
<!--        who-->
<!--        are in need. Charitable people tend to be able to cope with their own problems more easily than those who-->
<!--        don't-->
<!--        donate. Giving to others improves your self-esteem, self confidence and self worth.-->
<!--    </ion-text>-->
<!--    <ion-button type="submit" expand="full" class="mlr-15 mt-30" color="primary" (pointerup)="invite()">Invite Now</ion-button>-->

<!--    <ion-row>-->

<!--    </ion-row>-->
<!--</ion-content>-->
