<ion-header  [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>App Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  padding class="mt-30">
  <ion-item class="bg-profile">
    <ion-avatar slot="start">
      <img [src]="" class="user-avatar">
    </ion-avatar>
    <ion-label>
      <ion-text color="light">
        <h2>
        </h2>
      </ion-text>
      <ion-text color="secondary">
        <h3>
        </h3>

      </ion-text>
      <ion-button tappable routerLink="/sharing/profile" icon-left size="medium" class="text08 capitalize"
                  shape="round" color="dark">
        <ion-icon name="contact"></ion-icon>
        Edit profile
      </ion-button>
    </ion-label>
  </ion-item>

  <ion-list no-border>
    <ion-list-header>
      <ion-text color="dark">
        <h5>General</h5>
      </ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="settings" slot="start" color="primary"></ion-icon>
      <ion-label color="primary">App Language</ion-label>
      <ion-select>
        <ion-select-option [value]="language">English US</ion-select-option>
        <ion-select-option [value]="language">English UK</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon name="notifications" slot="start" color="primary"></ion-icon>
      <ion-label class="label" color="primary"> Enable notifications</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-text color="dark">
        <h5>Currency</h5>
      </ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="card" slot="start" color="primary"></ion-icon>
      <ion-label color="primary">Payment Method</ion-label>
      <ion-select>
        <ion-select-option>Paytm</ion-select-option>
        <ion-select-option>Credit/Debit Card</ion-select-option>
        <ion-select-option>Bhim UPI</ion-select-option>
        <ion-select-option>Net Banking</ion-select-option>

      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon name="logo-usd" slot="start" color="primary"></ion-icon>
      <ion-label color="primary">Currency</ion-label>
      <ion-select>
        <ion-select-option>Rupee</ion-select-option>
        <ion-select-option>Dollar</ion-select-option>
        <ion-select-option>Euro</ion-select-option>
        <ion-select-option>Pound</ion-select-option>


      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-text color="dark">
        <h5>Other</h5>
      </ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="mail" slot="start" color="primary"></ion-icon>
      <ion-label class="label" color="primary">Enable Promotions</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-icon name="mail" slot="start" color="primary"></ion-icon>
      <ion-label class="label" color="primary">Enable History</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>

