// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import "~bootstrap/dist/css/bootstrap.css";

// @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700;900&display=swap');
body, * {
  // font-family: 'Ubuntu', sans-serif;
  // font-family: 'Nunito', sans-serif;
  // font-family: 'Source Sans Pro', sans-serif;
  font-family: 'Titillium Web', sans-serif;
    font-weight: 500;
  // font-family: 'Raleway', sans-srif;
  // font-family: 'Roboto', sans-serif;
  // font-family: 'Open Sans', sans-serif;
  // font-family: 'Cairo', sans-serif;
  // font-family: 'Oswald', sans-serif;
  // font-family: 'Barlow', sans-serif;
}

ion-item {
  --ion-item-background: transparent;
}

// backgrounds //
.bg-white {
  background-color: #fff;
}

.bg-light {
  background-color: var(--ion-color-light);
}

.bg-dark {
  background-color: var(--ion-color-dark);
}

.bg-red {
  background-color: var(--ion-red);
}

.bg-primary {
  background-color: var(--ion-color-primary);
}

.bg-secondary {
  background-color: var(--ion-color-secondary);
}

.bg-tertiary {
  background-color: var(--ion-color-tertiary);
}

.bg-profile {
  background-image: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary))
}

.bg-main {
  background-image: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
}

.text-gray {
  color: #888888;
}

.text-light-gray {
  color: #999;
}

// Helpers //
.w100 {
  width: 100%;
}

.bold,
.fw500 {
  font-weight: 500 !important;
}

.header-top {
  --background: #c7002c;
  --color: var(--ion-color-primary-contrast) !important;
}

.fw700 {
  font-weight: 700 !important;
}

.fw400 {
  font-weight: 400 !important;
}

.text08 {
  font-size: .8rem;
}

.text05 {
  font-size: .5rem;
}

.text06 {
  font-size: .75rem;
}

.text1 {
  font-size: 1rem !important;
}

.line-height {
  line-height: 20px !important;
}

.home-card button {
  background-color: transparent !important;
  width: 100%;
  font-size: 13.5px;
  outline: none;
  cursor: pointer;
  color: #444;
  font-weight: 600;

  ion-icon {
    color: #c7002c !important;
  }

}
p {
  color: #444;
  font-weight: 600;
}
b, strong {
  font-weight: 700;
}
.text12 {
  font-size: 1.2rem;
}

.text15 {
  font-size: 1.5rem;
}

.text20 {
  font-size: 2rem;
}

.text-white {
  color: #fff;
}

.pr-2 {
  padding-right: 2px
}

.mr-4 {
  margin-right: 4px
}

.padding-2 {
  padding: 2px !important;
}

.text-primary {
  color: var(--ion-color-primary) !important;
}
.text-disable {
  color: var(--ion-color-medium-shade) !important;
}

.text-secondary {
  color: var(--ion-color-secondary);
}

.icon-absolute {
  // top: 5px;
  right: 0px;
  z-index: 9;
  margin-top: -25px;
  position: absolute;

  button {
    background-color: #000000a3;
    color: #fff;
    padding: 2px 5px !important;
  }

  .heart {
    color: #fff !important;
  }

  .heart-filled {
    color: #c7002c !important;
  }
}

.cursor-pointer {
  cursor: pointer !important;
}

.ion-badge {
  padding: 3px 5px;
  font-size: 10px;
  border-radius: 50%;
  background-color: #c7002c !important;
}

.text-dark {
  color: var(--ion-color-dark);
}

.br-1 {
  // border-right: 1px solid #049804;
  border-right: 1px solid #ffafaf5c;
}

.p-0 {
  padding: 0px !important;

}

.pb-0 {
  padding-bottom: 0px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-5 {
  margin-bottom: 5px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.prl-10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.prl-15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.mt-20 {
  margin-top: 20px;
}

.pt-15 {
  padding-top: 15px !important;
}
// hide this to test the scroll
 app-app-setting.ion-page , app-ui.ion-page.ion-page-hidden, app-create-listing.ion-page, app-message.ion-page, app-news-blog-detail.ion-page, app-news-blog-list.ion-page, app-my-order.ion-page, app-verify-otp.ion-page {
  top: 110px;
}

app-home.ion-page,app-message.ion-page, app-post-detail.ion-page, app-feedback.ion-page,
 app-chat.ion-page , app-invite.ion-page, app-my-listing.ion-page, app-info-dialog.ion-page,
 app-healthedu.ion-page, app-forgot-password.ion-page, app-user-near-me.ion-page,
 app-news-blog-detail.ion-page, app-create-listing.ion-page, app-terms-n-condition.ion-page,
 app-terms.ion-page, app-news-blog-list.ion-page, app-near-eeho-shop.ion-page, app-profile.ion-page, app-public-profile.ion-page, app-pay-donation.ion-page {
  top: 53px;
}

app-forum.ion-page, app-guidelines.ion-page {
  top: 100px;
}
app-news-blog-list.ion-page {
  top: 40px;
}

.mt-110 {
  margin-top: 110px
}

.mt-30 {
  margin-top: 30px;
}
// end hide
.pt-25 {
  padding-top: 25px !important;
}

.danger {
  color: #cc002e;
  font-size: 14px
}

.width-100 {
  width: 100%
}

.float-right {
  float: right
}

.text-right {
  text-align: right

}

app-register {
  ion-label, .label-floating.sc-ion-label-md-h, .label-stacked.sc-ion-label-md-h {
    margin-bottom: 7px !important;
    font-size: 17px
  }
}

.ptb-15 {
  padding-top: 15px;
  padding-bottom: 15px;

}

.mt-20 {
  margin-top: 20px
}

.mt-30 {
  margin-top: 30px;
}
.mt-6 {
  margin-top: 6px;
}
.text-captialize {
  text-transform: capitalize
}
.mlr-15 {
  margin-left: 15px;
  margin-right: 15px;
}

.mtb-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.post-image {
  height: 250px;
  width: 100%;
}

.white {
  color: #fff !important;
}
ion-toolbar.ios {
  padding: 8px 10px !important;
}
ion-toolbar.user-profile.ios {
  padding: 0px!important;
}
ion-title.ios {
  padding: 0px;
  text-align: left

}
ion-toggle.ios {
  margin: 0px 10px
}
ion-title.ios img {
  margin-left: 60px
}
// menu //
// Menu user profile
ion-toolbar.user-profile {
  // padding-top: 30px !important;

  .user-avatar {
      width: 55px;
      height: 55px;
      margin-right: 5px;
  }
img {
  width: auto;
}
  .item-inner {
    border-width: 0;
  }
}

// app-my-header {
//   padding-top: 20px;
// }
// Android card shadow
ion-card {
  &.sc-ion-card-md-h {
    box-shadow: 0 2px 4px rgba(var(--ion-color-dark-rgb), .34);
    padding-bottom: 5px;
    margin-bottom: 10px;

  }
  app-search-filter.ion-page, app-pay-modal.ion-page {
    z-index: 99999999 !important;
    display: flex !important;
    left: 0 !important;
    right: 0 !important;
    top: 0 !important;
    bottom: 0;
    // display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    contain: layout size style;
    overflow: visible !important;
    opacity: 1;

  }

  .sc-ion-modal-md-h {
    z-index: 20006;
  }

  // Menu user profile
  ion-toolbar.user-profile {

    .item-inner {
      border-width: 0;
    }

    // style for auth pages
    .auth-page {
      background-image: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));

      .grid {
        padding: 0;

        .col {
          padding: 0;
        }
      }

      .btn-group {
        .button-ios,
        .button-md {
          border-radius: 0;

          &:first-of-type {
            border-radius: 2px 0 0 2px;
          }

          &:last-of-type {
            border-radius: 0 2px 2px 0;
          }
        }
      }

      .auth-content {
        margin: 0 5%;

        .logo {
          width: 60px;
          height: 60px;
          margin: 20px auto 8px;
          border-radius: 10%;
          background: url("/assets/img/ionic4start-ico.png") no-repeat;
          background-size: 100%;
        }

        .list-form {
          padding: 0;
          margin-bottom: 0;

          ion-item {
            background: none;
            padding: 0;

            &:first-child {
              border-top: none;
            }

            &:after {
              display: none;
            }

            ion-label {
              font-size: 1em;
              color: var(--ion-color-medium);
            }

            input {
              color: var(--ion-color-medium);
            }
          }
        }
      }

    }

    .mto {
      margin-top: 12px;

      ion-icon {
        margin-bottom: -2px;
      }
    }

    .display-flex {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    app-post-detail {
      button.icon-button {
        background-color: transparent !important;
        font-size: 13.5px;
        outline: none;
        cursor: pointer;
        color: #6c757d;
      }

      .post-avatar {
        width: 40px;
        height: 40px;
      }


    }

    .button-native {
      border-radius: 20px !important;
    }

    .bk-red {
      background-color: #c7002c;
      color: #fff !important;
      border-radius: 10px;
      margin: 10px;
      padding: 5px;
      text-align: center;

    }

    .text08.capitalize {
      text-transform: capitalize !important;
      font-size: 0.7rem !important;

      ion-icon {
        margin-right: 3px !important;
        font-size: 0.7rem !important;
      }
    }

    //chat css
    .ion-color-d3blue {
      --ion-color-base: #0c96df;
      --ion-color-base-rgb: 12, 150, 223;
      --ion-color-contrast: #ffffff;
      --ion-color-contrast-rgb: 255, 255, 255;
      --ion-color-shade: #0f80cf;
      --ion-color-tint: #1ba0ec;
    }

    .ion-color-d3green {
      --ion-color-base: #00c06d;
      --ion-color-base-rgb: 0, 192, 109;
      --ion-color-contrast: #ffffff;
      --ion-color-contrast-rgb: 255, 255, 255;
      --ion-color-shade: #00c06d;
      --ion-color-tint: #00c06d;
    }

    .searchbar-input {
      border-radius: 25px !important;
    }

    .searchbar-search-icon.sc-ion-searchbar-md {
      left: 88% !important;
    }

    .searchbar-clear-button.sc-ion-searchbar-md {
      left: 13px !important;
      right: 0 !important;
    }
  }
}

.bg-red-outline {
  border: 2px solid var(--ion-red);
  background: transparent;
  color: var(--ion-red);
}

.splash-div {
  height: 70vh;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  --ion-background-color: #ffffff;

}

.splash-div img {
  width: 60%;
}
ion-app, ion-nav, ion-tab, ion-tabs, .app-root{
  -webkit-transition: bottom 0.3s;
  transition: bottom 0.3s;
}
.scroll-content {
  padding-bottom:0!important;
}
.text-capitalize {
  text-transform: capitalize;
}
.word-wrap {
  word-break: break-word;
  white-space: pre-line;
}
.ion-textarea {
  height: 40px;
}

.fx-display{
  display: flex;
}
ion-textarea.chat-textarea > textarea {
  max-height: 150px !important;
}
